// //reset
//
// html, body, div, span, applet, object, iframe,
// h1, h2, h3, h4, h5, h6, p, blockquote, pre,
// a, abbr, acronym, address, big, cite, code,
// del, dfn, em, img, ins, kbd, q, s, samp,
// small, strike, strong, sub, sup, tt, var,
// b, u, i, center,
// dl, dt, dd, ol, ul, li,
// fieldset, form, label, legend,
// table, caption, tbody, tfoot, thead, tr, th, td,
// article, aside, canvas, details, embed,
// figure, figcaption, footer, header, hgroup,
// menu, nav, output, ruby, section, summary,
// time, mark, audio, video {
// 	margin: 0;
// 	padding: 0;
// 	border: 0;
// 	font-size: 100%;
// 	font: inherit;
// 	vertical-align: baseline;
// }
// /* HTML5 display-role reset for older browsers */
// article, aside, details, figcaption, figure,
// footer, header, hgroup, menu, nav, section {
// 	display: block;
// }
// body {
// 	line-height: 1;
// }
// ol, ul {
// 	list-style: none;
// }
// blockquote, q {
// 	quotes: none;
// }
// blockquote:before, blockquote:after,
// q:before, q:after {
// 	content: '';
// 	content: none;
// }
// table {
// 	border-collapse: collapse;
// 	border-spacing: 0;
// }

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

body{
  font-family: Helvetica Neue, Verdana;
  background-color:whitesmoke;
  padding-left: 9%;
}

.container{
  padding-bottom: 2%;
}

// h tags
h1 {
  margin: 1% auto;
  display: block;
  text-align: center;
  font-size: 26px;
  padding-bottom: 1%;
}


h4{
    padding-top: 2%;
    padding-bottom: 0%;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}


.page-header{
padding-top: 2%;
padding-bottom:2%;
margin:0 auto 0 1%;
}


// .title{
//   padding-top: 0%;
//   margin-top: 0 auto;
//   text-align: center;
// }


.boxProperties{
  background-color: rgb(255,255,255);
  display: block;
  margin: 0 auto 2% auto;
  width: 80%;
  height: 300px;
}


.employeeRatingBox {
  background-color: rgb(255,255,255);
  display: inline;
  margin: 0 auto;
  float:center;
  width: 14%;
  height: 10px;
  padding-top: 2%;

}


.leaderRatingBox {
  background-color: rgb(255,255,255);
  text-align: center;
  display: inline;
  margin: 0 auto;
  float:center;
  width: 14%;
  height: 10px;
  padding-top: 2%;
}


.leaderRatingAlign{
  text-align: center;
  padding-bottom: 3%;
}

.leaderRatingAlignDrop{
  float: center;
  text-align: center;
  padding-bottom: 3%;
}


.employeeRatingAlign{
  text-align: center;
  padding-bottom: 3%;
}


.pRating{
  font-size: 5px;
}


.selectDrop{
  background-color: rgb(255,255,255);
  display: block;
  width: 12%;
  height: 24px;
  display: block;
  margin: 0 auto;
}

.secondGoalSelectDrop{
  background-color: rgb(255,255,255);
  display: block;
  width: 28%;
  height: 24px;
  display: block;
  margin:0 auto 0 8%;
  // float: center;
}

.FinancesSelectDrop{
  background-color: rgb(255,255,255);
  width: 24%;
  height: 24px;
}

.lastFinancesSelectDrop{
  background-color: rgb(255,255,255);
  width: 14%;
  height: 24px;
}

.initialInput{
  background-color: rgb(255,255,255);
  display: block;
  margin: 0 auto;
  width: 8%;

}

.financialInput{
  background-color: rgb(255,255,255);
  display: inline-block;
  // margin: 0 auto;
  width: 8%;
}

.checkMe{
  display: block;
  font-size: 24px;
}

.sidebar{
 margin-left: -250px;
 left: 250px;
 width: 8%;
 background: rgb(136,136,136);
 position: fixed;
 height: 100%;
 overflow-y: auto;
 z-index: 1000;
 transition: all 0.4s ease 0s;
}


// buttons
.alignButton{
  margin:1% auto;
  text-align: center;
  padding-bottom: 1%;
}


.orange{
  font-size: 16px;
  font-family: Helvetica;
  font-weight:lighten;
}


  .grey {
    font-size: 16px;
    font-family: Helvetica;
    font-weight:lighten;
    color: #ffffff;
    background-color: #999999;
    border-color: #5C5454;
  }

  .grey:hover,
  .grey:focus,
  .grey:active,
  .grey.active,
  .open .dropdown-toggle.grey {
    color: #ffffff;
    background-color: #787474;
    border-color: #5C5454;
  }

  .grey:active,
  .grey.active,
  .open .dropdown-toggle.grey {
    background-image: none;
  }

  .grey.disabled,
  .grey[disabled],
  fieldset[disabled] .grey,
  .grey.disabled:hover,
  .grey[disabled]:hover,
  fieldset[disabled] .grey:hover,
  .grey.disabled:focus,
  .grey[disabled]:focus,
  fieldset[disabled] .grey:focus,
  .grey.disabled:active,
  .grey[disabled]:active,
  fieldset[disabled] .grey:active,
  .grey.disabled.active,
  .grey[disabled].active,
  fieldset[disabled] .grey.active {
    background-color: #999999;
    border-color: #5C5454;
  }

  .grey .badge {
    color: #999999;
    background-color: #ffffff;
  }

//HOME PAGE CUSTOM BUTTONS

.green{
  font-size: 16px;
  font-family: Helvetica;
  font-weight:lighten;
}

.darkBlue{
  font-size: 16px;
  font-family: Helvetica;
  font-weight:lighten;
}

.review{
  font-size: 16px;
  font-family: Helvetica;
  font-weight:lighten;
}















//[][][][][][][]][][][][][][][][][][][][][][][][]][]]][][][][][][][][][][][][][][][][][]][][][][][][][]][][][][][][][][][][][][][]
//[][][][][][][]][][][][][][][][][][][][][][][][]][]]][ MOBILE ][][][][][][][][][][][][][][][][]][][][][][][][]][][][][][][][][][]


@media only screen and (max-width: 767px) {

  body{
    font-family: Helvetica Neue, Verdana;
    background-color:whitesmoke;
    padding-left: 12%;
  }

  .page-header{
  padding-top: 5%;
  padding-bottom:3%;
  margin:0 auto 0 1%;
  }

  .container{
    padding-bottom: 4%;
  }

  h1 {
    font-size: 24px;
  }

  h4{
    font-size: 18px;
  }

  .orange{
    font-size: 75%;
  }

  .grey{
    font-size: 75%;
  }

  .green{
    font-size: 75%;
  }

  .darkBlue{
    font-size: 75%;
  }

  .review{
    font-size: 75%;
  }

.sidebar{
  width: 12%;
}
  .initialBox{
    background-color: rgb(255,255,255);
    display: block;
    margin: 0 auto;
    width: 25%;
}

}
