body {
  font-family: Helvetica Neue, Verdana;
  background-color: whitesmoke;
  padding-left: 9%;
  padding-bottom: 4%;
  color: black; }

.table {
  width: 90%; }

textarea {
  resize: none; }

.container {
  padding-bottom: 2%; }

.h1Home {
  display: block;
  text-align: center;
  font-size: 28px;
  line-height: 40px;
  padding-bottom: 1%;
  padding-right: 9%;
  margin: 7% auto 8% auto; }

.h1 {
  display: block;
  text-align: center;
  font-size: 28px;
  line-height: 40px;
  padding-bottom: 1%;
  padding-right: 9%;
  margin: 7% auto 1% auto; }

.h1Hair {
  font-size: 24px;
  font-weight: bold; }

.hairDescription {
  display: block;
  margin: -5% auto 8% 9%; }

.h2 {
  font-size: 22px;
  line-height: 40px; }

h4 {
  padding-top: 2%;
  padding-bottom: 0%;
  padding-right: 9%;
  font-weight: bold;
  font-size: 20px;
  text-align: center; }

.h5 {
  font-size: 20px;
  font-weight: bold; }

.h5Hair {
  font-size: 18px;
  font-weight: normal; }

.homepageSubs {
  padding-left: 0;
  padding-top: 0.5%;
  padding-bottom: 5%;
  color: black; }

.homepageSubs3rd {
  margin: 0 auto 0 20%;
  padding-bottom: 5%;
  color: black; }

.remainingpageSubs {
  padding-left: 0;
  padding-top: 1%;
  padding-bottom: 5%;
  color: black; }

.pageNames {
  font-size: 20px; }

.FinapageNames {
  font-weight: lighter; }

.empName {
  font-size: 20px;
  margin-top: 1%; }

.homePageLeadButtons {
  margin-bottom: 7%; }

.homePageEmpButtons {
  margin-top: 1%; }

.logo {
  max-width: 50%; }

.page-header {
  padding-top: 2%;
  padding-bottom: 2%;
  margin: 0 auto 0 1%;
  border-bottom: none; }

a {
  font-family: Helvetica Neue, Verdana;
  font-weight: bold;
  text-decoration: none;
  color: #56565b;
  font-size: 17px; }
  a.orange {
    color: white; }
  a:active {
    text-decoration: none; }
  a:hover {
    color: orange;
    text-decoration: none; }

.boxProperties {
  background-color: white;
  display: block;
  margin: 4% auto 8% 6%;
  width: 80%;
  height: 300px; }

.goalboxProperties {
  background-color: white;
  display: block;
  margin: 4% auto 8% 6%;
  width: 80%;
  height: 300px; }

.textAreaboxProperties {
  background-color: white;
  display: block;
  margin: 4% auto 8% 5%;
  width: 80%;
  height: 300px; }

.lasttextAreabox {
  background-color: white;
  display: block;
  margin: 4% auto 8% 6%;
  width: 82.5%;
  height: 300px; }

.ReadboxProperties {
  background-color: white;
  display: block;
  margin: 4% auto 8% 5%;
  width: 80%;
  height: 300px; }

.legal {
  background-color: white;
  display: block;
  margin: 13% auto 8% 22%;
  padding: 1% 1% 1% 1%;
  width: 47%;
  height: 165px; }

.checkMe {
  display: block;
  margin: 5% 91% -15% 19%; }

.hairRatingbox {
  background-color: white;
  display: block;
  margin: 5% 49% 8% auto;
  width: 11%;
  height: 30px;
  padding-top: 4px;
  padding-left: 8px; }

.employeeRatingBox {
  background-color: white;
  display: block;
  margin: 2.5% 0 0 26%;
  width: 41%;
  padding-top: 1%;
  padding-bottom: 1%; }

.goalemployeeRatingBox {
  background-color: white;
  display: block;
  margin: 2.5% 0 0 26%;
  width: 41%;
  padding-top: 1%;
  padding-bottom: 1%; }

.leaderRatingBox {
  background-color: white;
  display: block;
  margin: 3% 0 0 27%;
  width: 41%;
  padding-top: 1%;
  padding-bottom: 1%; }

.secondleaderRatingBox {
  background-color: white;
  display: block;
  margin: 3% 0 0 26%;
  width: 41%;
  padding-top: 1%;
  padding-bottom: 1%; }

.leaderRatingAlign {
  text-align: center;
  padding-bottom: 3%; }

.leaderRatingAlignDrop {
  float: center;
  text-align: center;
  padding-bottom: 3%; }

.employeeRatingAlign {
  text-align: center;
  padding-bottom: 3%; }

.selectDrop {
  background-color: white;
  display: block;
  width: 15%;
  height: 32px;
  display: block;
  margin: 4% 47% 10% auto; }

.goalselectDrop {
  background-color: white;
  display: block;
  width: 15%;
  height: 24px;
  display: block;
  margin: 4% 47% 10% auto; }

.EmpRev {
  font-size: 28px;
  padding-right: 0;
  text-align: center;
  display: block;
  margin: 11% 11% 3% auto; }

.secondGoalSelectDrop {
  background-color: white;
  display: block;
  width: 30%;
  display: block;
  margin: 1% auto 0 3%; }

.FinancesSelectDrop {
  background-color: white;
  width: 24%;
  height: 24px; }

.lastFinancesSelectDrop {
  background-color: white;
  width: 14%;
  height: 24px; }

.initialInput {
  background-color: white;
  display: block;
  margin: 3% 50% 5% auto;
  width: 9%; }

.financialInput {
  background-color: white;
  display: inline-block;
  width: 8%; }

.customCheckBox {
  width: 34px;
  height: 18px; }

.sidebarLeft {
  margin-left: -250px;
  left: 250px;
  width: 8%;
  background: #56565b;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000; }

.sidebarRight {
  margin-right: -250px;
  right: 250px;
  width: 8%;
  background: #56565b;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000; }

.Mapbuttons {
  margin-top: 3%; }

.alignButton {
  margin: 1% 9% 0 auto;
  text-align: center;
  padding-bottom: 1%; }

.orange {
  font-size: 16px;
  font-family: Helvetica;
  font-weight: lighten; }

.homeOrange {
  font-size: 16px;
  font-family: Helvetica;
  font-weight: lighten;
  margin-right: 10%; }

.grey {
  font-size: 16px;
  font-family: Helvetica;
  font-weight: lighten;
  color: #ffffff;
  background-color: #999999;
  border-color: #5C5454; }

.grey:hover,
.grey:focus,
.grey:active,
.grey.active,
.open .dropdown-toggle.grey {
  color: #ffffff;
  background-color: #787474;
  border-color: #5C5454; }

.grey:active,
.grey.active,
.open .dropdown-toggle.grey {
  background-image: none; }

.grey.disabled,
.grey[disabled],
fieldset[disabled] .grey,
.grey.disabled:hover,
.grey[disabled]:hover,
fieldset[disabled] .grey:hover,
.grey.disabled:focus,
.grey[disabled]:focus,
fieldset[disabled] .grey:focus,
.grey.disabled:active,
.grey[disabled]:active,
fieldset[disabled] .grey:active,
.grey.disabled.active,
.grey[disabled].active,
fieldset[disabled] .grey.active {
  background-color: #999999;
  border-color: #5C5454; }

.grey .badge {
  color: #999999;
  background-color: #ffffff; }

.green {
  font-size: 16px;
  font-family: Helvetica;
  font-weight: lighten; }

.darkBlue {
  font-size: 16px;
  font-family: Helvetica;
  font-weight: lighten; }

.review {
  font-size: 16px;
  font-family: Helvetica;
  font-weight: lighten; }

.hairImages {
  margin-top: 4%;
  max-width: 7%; }

@media only screen and (max-width: 900px) {
  body {
    font-family: Helvetica Neue, Verdana;
    background-color: whitesmoke;
    padding-left: 4%; }

  a {
    font-size: 17px; }

  .logo {
    max-width: 95%; }

  .page-header {
    padding-top: 5%;
    padding-bottom: 3%;
    margin: 0 auto 0 1%; }

  .container {
    padding-bottom: 4%; }

  .pageNames {
    font-size: 22px; }

  .empName {
    font-size: 22px;
    margin-top: 0; }

  .boxProperties {
    background-color: white;
    display: block;
    margin: 4% auto 8% 7%;
    width: 86%;
    height: 300px; }

  .goalboxProperties {
    background-color: white;
    display: block;
    margin: 4% auto 8% 6%;
    width: 86%;
    height: 300px; }

  .textAreaboxProperties {
    background-color: white;
    display: block;
    margin: 4% auto 8% 5%;
    width: 90%;
    height: 300px; }

  .lasttextAreabox {
    background-color: white;
    display: block;
    margin: 4% auto 8% 6%;
    width: 90%;
    height: 300px; }

  .ReadboxProperties {
    background-color: white;
    display: block;
    margin: 4% auto 8% 7%;
    width: 84%;
    height: 300px; }

  .hairRatingbox {
    background-color: white;
    display: block;
    margin: 8% auto 10% auto;
    width: 20%;
    height: 30px;
    padding-top: 4px;
    padding-left: 8px; }

  .leaderRatingBox {
    background-color: white;
    display: block;
    margin: 3% 0 0 29%;
    width: 41%;
    padding-top: 1%;
    padding-bottom: 1%; }

  .secondleaderRatingBox {
    background-color: white;
    display: block;
    margin: 3% 0 0 29%;
    width: 41%;
    padding-top: 1%;
    padding-bottom: 1%; }

  .goalemployeeRatingBox {
    background-color: white;
    display: block;
    margin: 2.5% 0 0 29%;
    width: 41%;
    padding-top: 1%;
    padding-bottom: 1%; }

  .hairDescription {
    display: block;
    margin: -9% auto 13% 18%; }

  .h1Hair {
    font-size: 24px;
    font-weight: bold; }

  .selectDrop {
    background-color: white;
    display: block;
    width: 40%;
    display: block;
    margin: 3% auto 15% auto;
    height: 34px; }

  .goalselectDrop {
    background-color: white;
    display: block;
    width: 22%;
    height: 32px;
    display: block;
    margin: 4% 39% 10% auto; }

  .secondGoalSelectDrop {
    background-color: white;
    display: block;
    width: 30%;
    display: block;
    margin: 3% auto 0 -2%;
    height: 34px; }

  .h1 {
    font-size: 28px;
    padding-right: 0;
    margin: 0 auto 3% auto;
    text-align: center; }

  .h1Home {
    display: block;
    text-align: center;
    font-size: 28px;
    line-height: 40px;
    padding-bottom: 1%;
    padding-right: 0;
    margin: 7% auto 8% auto; }

  .EmpRev {
    font-size: 28px;
    padding-right: 0;
    text-align: center;
    display: block;
    margin: 11% auto 3% auto; }

  .homepageSubs3rd {
    margin: 0 0 0 0;
    padding-left: 0;
    padding-bottom: 5%;
    color: black; }

  .h5 {
    font-size: 21px;
    color: black; }

  h4 {
    font-size: 18px;
    margin: 0 auto;
    text-align: center;
    padding-right: 0; }

  .orange {
    font-size: 26px; }

  .homeOrange {
    font-size: 24px;
    margin-right: 0; }

  .grey {
    font-size: 26px; }

  .green {
    font-size: 26px; }

  .darkBlue {
    font-size: 26px; }

  .review {
    font-size: 26px; }

  .hairImages {
    margin-top: 8%;
    max-width: 15%; }

  .sidebarRight {
    display: none; }

  .sidebarLeft {
    display: none; }

  .initialBox {
    background-color: white;
    display: block;
    margin: 0 auto;
    width: 25%; }

  .alignButton {
    margin: 1% 0 0 auto;
    text-align: center;
    padding-bottom: 1%; }

  .initialInput {
    background-color: white;
    display: block;
    margin: 5% 42% 5% auto;
    width: 16%; }

  .legal {
    background-color: white;
    display: block;
    margin: 12% 0% 15% 15%;
    padding: 3% 3% 5% 4%;
    width: 71%;
    height: 165px; }

  .checkMe {
    display: block;
    margin: 7% 101% -17% 8%; } }
@media only screen and (max-width: 767px) {
  body {
    font-family: Helvetica Neue, Verdana;
    background-color: whitesmoke;
    padding-left: 4%; }

  .logo {
    max-width: 95%; }

  a {
    font-size: 16px; }

  .page-header {
    padding-top: 5%;
    padding-bottom: 3%;
    margin: 0 auto 0 1%; }

  .container {
    padding-bottom: 4%; }

  .homePageLeadButtons {
    margin-bottom: 7%; }

  .homePageEmpButtons {
    margin-top: 1%; }

  .homepageSubs3rd {
    margin: 0 0 0 0;
    padding-left: 0;
    padding-bottom: 5%;
    color: black; }

  .boxProperties {
    margin: 8% 0 16% -1%;
    width: 106%; }

  .goalboxProperties {
    background-color: white;
    display: block;
    margin: 4% auto 8% 0;
    width: 95%;
    height: 300px; }

  .textAreaboxProperties {
    background-color: white;
    display: block;
    margin: 4% auto 8% -2%;
    width: 108%;
    height: 300px; }

  .lasttextAreabox {
    background-color: white;
    display: block;
    margin: 4% auto 8% 0;
    width: 106%;
    height: 300px; }

  .ReadboxProperties {
    margin: 8% 1% 18% -2%;
    width: 100%; }

  .hairRatingbox {
    background-color: white;
    display: block;
    margin: 12% auto 10% auto;
    width: 30%;
    height: 30px;
    padding-top: 4px;
    padding-left: 8px; }

  .hairDescription {
    display: block;
    margin: 1% auto 11% 0; }

  .h1Hair {
    font-size: 11px;
    font-weight: bold; }

  .h5Hair {
    font-size: 11px;
    font-weight: normal; }

  .selectDrop {
    background-color: white;
    display: block;
    width: 40%;
    height: 28px;
    display: block;
    margin: 12% auto 15% auto; }

  .goalselectDrop {
    background-color: white;
    display: block;
    width: 53%;
    height: 31px;
    display: block;
    margin: 4% 23% 10% auto; }

  .secondGoalSelectDrop {
    background-color: white;
    display: block;
    width: 53%;
    height: 24px;
    display: block;
    margin: 4% 2% 10% -5%; }

  .h1Home {
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    line-height: 40px;
    padding-bottom: 1%;
    margin: 7% auto 8% auto; }

  .h1 {
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    padding-right: 0; }

  h4 {
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    padding-right: 0; }

  .h5 {
    font-size: 13px;
    color: black; }

  .pageNames {
    font-size: 13px;
    color: black; }

  .EmpRev {
    font-size: 20px;
    padding-right: 0;
    text-align: center;
    display: block;
    margin: 21% auto 3% auto; }

  .empName {
    font-size: 16px;
    margin-top: 0; }

  .orange {
    font-size: 16px; }

  .homeOrange {
    font-size: 16px;
    margin-top: 1%;
    margin-right: 0; }

  .grey {
    font-size: 16px; }

  .green {
    font-size: 16px; }

  .darkBlue {
    font-size: 16px; }

  .review {
    font-size: 16px; }

  .hairImages {
    margin-top: 8%;
    max-width: 18%; }

  .sidebarRight {
    display: none; }

  .sidebarLeft {
    display: none; }

  .initialBox {
    background-color: white;
    display: block;
    margin: 0 auto;
    width: 25%; }

  .alignButton {
    margin: 1% 0 0 auto;
    text-align: center;
    padding-bottom: 1%; }

  .initialInput {
    background-color: white;
    display: block;
    margin: 10% 29% 10% auto;
    width: 38%; }

  .legal {
    background-color: white;
    display: block;
    margin: 0% auto 22% 4%;
    padding: 4% 4% 4% 4%;
    width: 91%;
    height: 165px; }

  .checkMe {
    display: block;
    margin: -9% 89% -4% -3%; } }

/*# sourceMappingURL=stylesheet.css.map */
