body {
  font-family: Helvetica Neue, Verdana;
  background-color: whitesmoke;
  padding-left: 9%;
  padding-bottom: 4%;
  color: black; }

.container {
  padding-bottom: 2%; }

.h1Home {
  display: block;
  text-align: center;
  font-size: 28px;
  line-height: 40px;
  padding-bottom: 1%;
  margin: 7% auto 8% auto; }

.h1 {
  display: block;
  text-align: center;
  font-size: 28px;
  line-height: 40px;
  padding-bottom: 1%;
  margin: 7% auto 1% auto; }

h4 {
  padding-top: 2%;
  padding-bottom: 0%;
  font-weight: bold;
  font-size: 20px;
  text-align: center; }

.h5 {
  font-size: 18px;
  font-weight: bold; }

.homepageSubs {
  padding-left: 0;
  padding-top: 2%;
  padding-bottom: 5%;
  color: black; }

.ratingpageSubs {
  padding-left: 0;
  padding-top: 1%;
  padding-bottom: 5%;
  color: black; }

.pageNames {
  font-size: 18px; }

.empName {
  font-size: 18px;
  margin-top: 1%; }

.homePageLeadButtons {
  margin-bottom: 7%; }

.homePageEmpButtons {
  margin-top: 1%; }

.logo {
  max-width: 50%; }

.page-header {
  padding-top: 2%;
  padding-bottom: 2%;
  margin: 0 auto 0 1%;
  border-bottom: none; }

a {
  font-family: Helvetica Neue, Verdana;
  font-weight: bold;
  text-decoration: none;
  color: #56565b;
  font-size: 14px; }
  a.orange {
    color: white; }
  a:active {
    text-decoration: none; }
  a:hover {
    color: orange;
    text-decoration: none; }

.boxProperties {
  background-color: white;
  display: block;
  margin: 0 auto 2% auto;
  width: 80%;
  height: 300px; }

.hairRatingbox {
  background-color: white;
  display: block;
  margin: 3% auto 2% auto;
  width: 10%;
  height: 30px;
  padding-top: 4px;
  padding-left: 8px; }

.employeeRatingBox {
  background-color: white;
  display: inline;
  margin: 0 auto;
  float: center;
  width: 14%;
  height: 10px;
  padding-top: 2%; }

.leaderRatingBox {
  background-color: white;
  text-align: center;
  display: inline;
  margin: 0 auto;
  float: center;
  width: 14%;
  height: 10px;
  padding-top: 2%; }

.leaderRatingAlign {
  text-align: center;
  padding-bottom: 3%; }

.leaderRatingAlignDrop {
  float: center;
  text-align: center;
  padding-bottom: 3%; }

.employeeRatingAlign {
  text-align: center;
  padding-bottom: 3%; }

.pRating {
  font-size: 5px; }

.selectDrop {
  background-color: white;
  display: block;
  width: 12%;
  height: 24px;
  display: block;
  margin: 3% auto 10% auto; }

.secondGoalSelectDrop {
  background-color: white;
  display: block;
  width: 28%;
  height: 24px;
  display: block;
  margin: 0 auto 0 8%; }

.FinancesSelectDrop {
  background-color: white;
  width: 24%;
  height: 24px; }

.lastFinancesSelectDrop {
  background-color: white;
  width: 14%;
  height: 24px; }

.initialInput {
  background-color: white;
  display: block;
  margin: 0 auto;
  width: 8%; }

.financialInput {
  background-color: white;
  display: inline-block;
  width: 8%; }

.checkMe {
  display: block;
  font-size: 24px; }

.sidebarLeft {
  margin-left: -250px;
  left: 250px;
  width: 8%;
  background: #56565b;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000; }

.sidebarRight {
  margin-right: -250px;
  right: 250px;
  width: 8%;
  background: #56565b;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000; }

.alignButton {
  margin: 1% auto;
  text-align: center;
  padding-bottom: 1%; }

.orange {
  font-size: 16px;
  font-family: Helvetica;
  font-weight: lighten; }

.homeOrange {
  font-size: 16px;
  font-family: Helvetica;
  font-weight: lighten; }

.grey {
  font-size: 16px;
  font-family: Helvetica;
  font-weight: lighten;
  color: #ffffff;
  background-color: #999999;
  border-color: #5C5454; }

.grey:hover,
.grey:focus,
.grey:active,
.grey.active,
.open .dropdown-toggle.grey {
  color: #ffffff;
  background-color: #787474;
  border-color: #5C5454; }

.grey:active,
.grey.active,
.open .dropdown-toggle.grey {
  background-image: none; }

.grey.disabled,
.grey[disabled],
fieldset[disabled] .grey,
.grey.disabled:hover,
.grey[disabled]:hover,
fieldset[disabled] .grey:hover,
.grey.disabled:focus,
.grey[disabled]:focus,
fieldset[disabled] .grey:focus,
.grey.disabled:active,
.grey[disabled]:active,
fieldset[disabled] .grey:active,
.grey.disabled.active,
.grey[disabled].active,
fieldset[disabled] .grey.active {
  background-color: #999999;
  border-color: #5C5454; }

.grey .badge {
  color: #999999;
  background-color: #ffffff; }

.green {
  font-size: 16px;
  font-family: Helvetica;
  font-weight: lighten; }

.darkBlue {
  font-size: 16px;
  font-family: Helvetica;
  font-weight: lighten; }

.review {
  font-size: 16px;
  font-family: Helvetica;
  font-weight: lighten; }

.hairmages {
  margin-top: 4%;
  max-width: 7%; }

@media only screen and (max-width: 900px) {
  body {
    font-family: Helvetica Neue, Verdana;
    background-color: whitesmoke;
    padding-left: 4%; }

  .logo {
    max-width: 95%; }

  .page-header {
    padding-top: 5%;
    padding-bottom: 3%;
    margin: 0 auto 0 1%; }

  .container {
    padding-bottom: 4%; }

  .empName {
    font-size: 18px;
    margin-top: 0; }

  .hairRatingbox {
    background-color: white;
    display: block;
    margin: 3% auto 2% auto;
    width: 20%;
    height: 30px;
    padding-top: 4px;
    padding-left: 8px; }

  .selectDrop {
    background-color: white;
    display: block;
    width: 50%;
    height: 24px;
    display: block;
    margin: 12% auto 15% auto; }

  .h1 {
    font-size: 23px; }

  h4 {
    font-size: 18px; }

  .orange {
    font-size: 100%; }

  .homeOrange {
    font-size: 100%; }

  .grey {
    font-size: 100%; }

  .green {
    font-size: 100%; }

  .darkBlue {
    font-size: 100%; }

  .review {
    font-size: 100%; }

  .hairmages {
    margin-top: 1%;
    max-width: 15%; }

  .sidebarRight {
    display: none; }

  .sidebarLeft {
    display: none; }

  .initialBox {
    background-color: white;
    display: block;
    margin: 0 auto;
    width: 25%; } }
@media only screen and (max-width: 767px) {
  body {
    font-family: Helvetica Neue, Verdana;
    background-color: whitesmoke;
    padding-left: 4%; }

  .logo {
    max-width: 95%; }

  .page-header {
    padding-top: 5%;
    padding-bottom: 3%;
    margin: 0 auto 0 1%; }

  .container {
    padding-bottom: 4%; }

  .homePageLeadButtons {
    margin-bottom: 7%; }

  .homePageEmpButtons {
    margin-top: 1%; }

  .boxProperties {
    margin: 1% 4% 8% auto;
    text-align: center; }

  .hairRatingbox {
    background-color: white;
    display: block;
    margin: 12% auto 10% auto;
    width: 30%;
    height: 30px;
    padding-top: 4px;
    padding-left: 8px; }

  .selectDrop {
    background-color: white;
    display: block;
    width: 30%;
    height: 24px;
    display: block;
    margin: 12% auto 15% auto; }

  .h1Home {
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    line-height: 40px;
    padding-bottom: 1%;
    margin: 7% auto 8% auto; }

  .h1 {
    font-size: 16px; }

  h4 {
    font-size: 14px; }

  .h5 {
    font-size: 12px;
    color: #56565b; }

  .pageNames {
    font-size: 12px;
    color: black; }

  .empName {
    font-size: 12px;
    margin-top: 0; }

  .orange {
    font-size: 75%; }

  .homeOrange {
    font-size: 45%;
    margin-top: 1%; }

  .grey {
    font-size: 75%; }

  .green {
    font-size: 75%; }

  .darkBlue {
    font-size: 75%; }

  .review {
    font-size: 75%; }

  .hairmages {
    margin-top: 1%;
    max-width: 15%; }

  .sidebarRight {
    display: none; }

  .sidebarLeft {
    display: none; }

  .initialBox {
    background-color: white;
    display: block;
    margin: 0 auto;
    width: 25%; } }

/*# sourceMappingURL=stylesheet.css.map */
