<div class="container col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <h1 class="title">Financial Performance</h1>

  <div class="employeeInfo">
      <p>Name:  {{}} </p>
      <!--(Add a reference to Employee being reviewed)-->
      <p>Regis ID:  {{}} </p>
      <!--(Add a reference to Employee being reviewed)-->
  </div>

  <div>
      <!--These are the table headers. First column header is empty.-->
      <p>  </p>
      <p>Actual</p>
      <p>Target</p>
      <p>Variance +/-</p>
      <p>% of Target</p>
      <p ng-if="empFivePlus">Leader Rating</p>
  </div>

  <!-- ** Employee View ** -->

  <!--Each of these divs is a row.-->
  <div ng-if="emp">
      <p>Service Sales $</p>
      <p>{{serviceSalesActual}}</p>
      <p>{{serviceTarget}}</p>
      <p>{{serviceVariance}}</p>
      <p>{{servicePercentOfTarget}}</p>
      <p ng-if="empFivePlus"> </p>
  </div>

  <div ng-if="emp">
      <p>Retail Sales $</p>
      <p>{{retailSalesActual}}</p>
      <p>{{retailTarget}}</p>
      <p>{{retailVariance}}</p>
      <p>{{retailPercentOfTarget}}</p>
      <p ng-if="empFivePlus"> </p>
  </div>

  <div ng-if="emp">
      <p>Total Sales $</p>
      <p>{{totalSalesActual}}</p>
      <p>{{totalTarget}}</p>
      <p>{{totalVariance}}</p>
      <p>{{totalPercentOfTarget}}</p>
      <p ng-if="empFivePlus">{{totalSalesRating}}</p>
  </div>

  <div ng-if="emp">
      <p>Contribution $</p>
      <p>{{contributionActual}}</p>
      <p>{{contributionTarget}}</p>
      <p>{{contributionVariance}}</p>
      <p>{{contributionPercentOfTarget}}</p>
      <p ng-if="empFivePlus">{{contributionRating}} </p>
  </div>

  <div ng-if="emp">
      <p>Service Guest Count</p>
      <p>{{guestCountActual}}</p>
      <p>{{guestCountTarget}}</p>
      <p>{{guestCountVariance}}</p>
      <p>{{guestCountPercentOfTarget}}</p>
      <p ng-if="empFivePlus">{{guestCountRating}}</p>
  </div>

  <div ng-if="empFivePlus">
      <p>Overall Financial Performance Rating:</p>
      <p>{{overallRating}}</p>
  </div>

  <div ng-if="empOneTwo">
      <div class="alignButton">
        <button type="button" class="grey btn btn-secondary btn-responsive" ng-click="putAndGoMap()"><span class="glyphicon glyphicon-step-backward"></span> BACK</button>
        <!--Make sure this function name matches what is on scope.-->
        <button type="button" class="orange btn btn-warning btn-responsive" ng-click="putCompleteAndGoNext()"><span class="glyphicon glyphicon-ok"></span> DONE</button>
        <!--Make sure this function name matches what is on scope.-->
      </div>
  </div>

  <div ng-if="empThreePlus">
      <div class="alignButton">
        <button type="button" class="grey btn btn-secondary btn-responsive" ng-click="goMap()"><span class="glyphicon glyphicon-step-backward"></span> BACK</button>
        <!--Make sure the name of this function matches what is on scope.-->
        <button type="button" class="orange btn btn-warning btn-responsive" ng-click="goNext()"><span class="glyphicon glyphicon-ok"></span> DONE</button>
        <!--Make sure the name of this function matches what is on scope.-->
      </div>
  </div>

  <!-- ** Leader Views ** -->

  <!--Each of these divs is a row.-->
  <div ng-if="leaderThreeFourFive">
      <p>Service Sales $</p>
      <input type="text" ng-model="serviceSalesActual">
      <input type="text" ng-model="serviceTarget">
      <input type="text" ng-model="serviceVariance">
      <input type="text" ng-model="servicePercentOfTarget">
      <p> </p>
      <!--No rating for Service Sales - empty-->
  </div>

  <div ng-if="leaderSixPlus">
      <p>Service Sales $</p>
      <p>{{serviceSalesActual}}</p>
      <p>{{serviceTarget}}</p>
      <p>{{serviceVariance}}</p>
      <p>{{servicePercentOfTarget}}</p>
      <p> </p>
      <!--No rating for Service Sales - empty-->
  </div>

  <div ng-if="leaderThreeFourFive">
      <p>Retail Sales $</p>
      <input type="text" ng-model="retailSalesActual">
      <input type="text" ng-model="retailTarget">
      <input type="text" ng-model="retailVariance">
      <input type="text" ng-model="retailPercentOfTarget">
      <p> </p>
      <!--No rating for Retail Sales - empty-->
  </div>

  <div ng-if="leaderSixPlus">
      <p>Retail Sales $</p>
      <p>{{retailSalesActual}}</p>
      <p>{{retailTarget}}</p>
      <p>{{retailVariance}}</p>
      <p>{{retailPercentOfTarget}}</p>
      <p> </p>
      <!--No rating for Service Sales - empty-->
  </div>

  <div ng-if="leaderThreeFourFive">
      <p>Total Sales $</p>
      <input type="text" ng-model="totalSalesActual">
      <input type="text" ng-model="totalTarget">
      <input type="text" ng-model="totalVariance">
      <input type="text" ng-model="totalPercentOfTarget">
      <select>
          <option value="3 - Exceeds Expectations">3 - Exceeds Expectations = 101.5% and Above</option>
          <option value="2 - Meets Expectations">2 - Meets Expectations = 98.5% - 101.4%</option>
          <option value="1 - Does Not Meet Expectations">1 - Does Not Meet Expectations = Below 98.5%</option>
      </select>
  </div>

  <div ng-if="leaderSixPlus">
      <p>Total Sales $</p>
      <p>{{totalSalesActual}}</p>
      <p>{{totalTarget}}</p>
      <p>{{totalVariance}}</p>
      <p>{{totalPercentOfTarget}}</p>
      <p>{{totalSalesRating}}</p>
  </div>

  <div ng-if="leaderThreeFourFive">
      <p>Contribution $</p>
      <input type="text" ng-model="contributionActual">
      <input type="text" ng-model="contributionTarget">
      <input type="text" ng-model="contributionVariance">
      <input type="text" ng-model="contributionPercentOfTarget">
      <select>
          <option value="3 - Exceeds Expectations">3 - Exceeds Expectations = 101.5% and Above</option>
          <option value="2 - Meets Expectations">2 - Meets Expectations = 98.5% - 101.4%</option>
          <option value="1 - Does Not Meet Expectations">1 - Does Not Meet Expectations = Below 98.5%</option>
      </select>
  </div>

  <div ng-if="leaderSixPlus">
      <p>Contribution $</p>
      <p>{{contributionActual}}</p>
      <p>{{contributionTarget}}</p>
      <p>{{contributionVariance}}</p>
      <p>{{contributionPercentOfTarget}}</p>
      <p>{{contributionRating}} </p>
  </div>

  <div ng-if="leaderThreeFourFive">
      <p>Service Guest Count</p>
      <input type="text" ng-model="guestCountActual">
      <input type="text" ng-model="guestCountTarget">
      <input type="text" ng-model="guestCountVariance">
      <input type="text" ng-model="guestCountPercentOfTarget">
      <select>
          <option value="3 - Exceeds Expectations">3 - Exceeds Expectations = 101.5% and Above</option>
          <option value="2 - Meets Expectations">2 - Meets Expectations = 98.5% - 101.4%</option>
          <option value="1 - Does Not Meet Expectations">1 - Does Not Meet Expectations = Below 98.5%</option>
      </select>
  </div>

  <div ng-if="leaderSixPlus">
      <p>Service Guest Count</p>
      <p>{{guestCountActual}}</p>
      <p>{{guestCountTarget}}</p>
      <p>{{guestCountVariance}}</p>
      <p>{{guestCountPercentOfTarget}}</p>
      <p ng-if="empFivePlus">{{guestCountRating}}</p>
  </div>

  <div ng-if="leaderThreeFourFive">
      <p>Overall Financial Performance Rating:</p>
      <select>
          <option value="3 - Exceeds Expectations">3 - Exceeds Expectations</option>
          <option value="2 - Meets Expectations">2 - Meets Expectations</option>
          <option value="1 - Does Not Meet Expectations">1 - Does Not Meet Expectations</option>
      </select>
  </div>

  <div ng-if="leaderSixPlus">
      <p>Overall Financial Performance Rating:</p>
      <p>{{overallRating}}</p>
  </div>

  <div ng-if="leaderThreeFourFive">
      <div class="alignButton">
        <button type="button" class="grey btn btn-secondary btn-responsive" ng-click="putAndGoMap()">
            <span class="glyphicon glyphicon-step-backward"></span> BACK</button>
        <!--Make sure this function name matches what is on scope.-->
        <button type="button" class="orange btn btn-warning btn-responsive" ng-click="putCompleteAndGoNext()">
            <span class="glyphicon glyphicon-ok"></span> DONE</button>
        <!--Make sure this function name matches what is on scope.-->
      </div>
  </div>

  <div ng-if="leaderSixPlus">
      <div class="alignButton">
        <button type="button" class="grey btn btn-secondary btn-responsive" ng-click="goMap()">
            <span class="glyphicon glyphicon-step-backward"></span> BACK</button>
        <!--Make sure the name of this function matches what is on scope.-->
        <button type="button" class="orange btn btn-warning btn-responsive" ng-click="goNext()">
            <span class="glyphicon glyphicon-ok"></span> DONE</button>
        <!--Make sure the name of this function matches what is on scope.-->
      </div>
  </div>

<!-- container div -->
</div>
