<div class="container col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <span class="h1">Final Rating</span>

  <div class="employeeInfo">
      <span class="h5">Review for:</span>  <span class="pageNames">{{currentReviewEmpInfo.EmployeeName}}</span><br/>
      <span class="h5">Regis ID:</span>  <span class="pageNames">{{currentReviewEmpInfo.RegisId}}</span>
  </div>

  <!--Employee View divs-->
  <div ng-if="statuses.empOneTwo">
    <h4>Employee Rating:</h4>
    <form name="empfinal" id="empfinal">
      <select class="selectDrop well" ng-model="finalData[13].EmployeeFinalRating">
        <option>3</option>
        <option>2</option>
        <option>1</option>
        <option>0</option>
      </select>
    <h4>Employee Comments:</h4>
    <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <textarea class="boxProperties well" ng-model="finalData[13].EmployeeResponse" ng-minlength="10" required>Come back and make sure this text links to EmpFinalComment.</textarea>
    </div>

      <div class="alignButton">
        <button type="button" class="grey btn btn-secondary btn-responsive" ng-click="putAndGoMap()"><span class="glyphicon glyphicon-step-backward"></span> BACK</button>
        <button type="button" class="orange btn btn-warning btn-responsive" ng-click="putCompleteAndGoMap()" ng-disabled="empfinal.$invalid"><span class="glyphicon glyphicon-ok"></span> DONE</button>
      </div>
  </div>
</form>

  <div ng-if="statuses.empThreePlus">
    <h4>Employee Rating:</h4>
    <span class="hairRatingbox well">{{finalData[13].EmployeeFinalRating}}</span>
    <h4>Employee Comments:</h4>
    <span class="ReadboxProperties well">{{finalData[13].EmployeeResponse}}</span>
  </div>

    <div ng-if="statuses.empFivePlus">
        <h4>Leader Rating:</h4>
        <span class="hairRatingbox well">{{finalData[13].LeaderFinalRating}}</span>
        <h4>Leader Comments:</h4>
        <span class="ReadboxProperties well">{{finalData[13].LeaderResponse}}</span>
    </div>

    <div ng-if="statuses.empThreePlus">

    <div class="alignButton">
        <button type="button" class="grey btn btn-secondary btn-responsive" ng-click="goMap()"><span class="glyphicon glyphicon-step-backward"></span> BACK</button>
        <button type="button" class="orange btn btn-warning btn-responsive" ng-click="goMap()"><span class="glyphicon glyphicon-ok"></span> DONE</button>
    </div>

  </div>

  <!--Leader View divs-->
  <div ng-if="statuses.leaderThreePlus">
    <h4>Employee Rating:</h4>
    <span class="hairRatingbox well">{{finalData[13].EmployeeFinalRating}}</span>
    <h4>Employee Comments:</h4>
    <span class="ReadboxProperties well">{{finalData[13].EmployeeResponse}}</span>
  </div>

  <div ng-if="statuses.leaderThreeFourFive">
    <form name="leaderfinal" id="leaderfinal">
    <h4>Leader Rating:</h4>
    <select class="selectDrop well" ng-model="finalData[13].LeaderFinalRating">
        <option>3</option>
        <option>2</option>
        <option>1</option>
        <option>0</option>
    </select>
    <h4>Leader Comments:</h4>
    <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <textarea class="boxProperties well" ng-model="finalData[13].LeaderResponse" ng-minlength="10" required></textarea>
    </div>

      <div class="alignButton">
      <button type="button" class="grey btn btn-secondary btn-responsive" ng-click="putAndGoMap()"><span class="glyphicon glyphicon-step-backward"></span> BACK</button>
      <button type="button" class="orange btn btn-warning btn-responsive" ng-click="putCompleteAndGoMap()" ng-disabled="leaderfinal.$invalid"><span class="glyphicon glyphicon-ok"></span> DONE</button>
      </div>
    </form>
  </div>

  <div ng-if="statuses.leaderSixPlus">
    <h4>Leader Rating:</h4>
    <span class="hairRatingbox well">{{finalData[13].LeaderFinalRating}}</span>
    <h4>Leader Comments:</h4>
    <span class="ReadboxProperties well">{{finalData[13].LeaderResponse}}</span>

      <div class="alignButton">
      <button type="button" class="grey btn btn-secondary btn-responsive" ng-click="goMap()"><span class="glyphicon glyphicon-step-backward"></span> BACK</button>
      <button type="button" class="orange btn btn-warning btn-responsive" ng-click="goMap()"><span class="glyphicon glyphicon-ok"></span> DONE</button>
      </div>
  </div>
</div>
