<div class="container col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="employeeInfo" id="top">
      <span class="h1">Goal {{subsections.currentGoal}}</span>
    <span class="h5">Review for:</span>  <span class="pageNames ">{{currentReviewEmpInfo.EmployeeName}}</span></br>
    <span class="h5">Regis ID:</span>  <span class="pageNames ">{{currentReviewEmpInfo.RegisId}}</span>
  </div>

<!--Employee View Divs-->
    <div ng-if="statuses.empOneTwo">
      <form name="goal1" id="goal1">
        <h4>Goal:</h4>
          <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <textarea class="textAreaboxProperties well" ng-model="goalData[subsections.currentGoal].Goal" ng-minlength="10" required></textarea>
          </div>
            <div class="clearfix"></div>

        <div>
          <h4>Employee Rating:</h4>
          <select class="selectDrop well" ng-model="goalData[subsections.currentGoal].EmployeeGoalRating">
            <option>3</option>
            <option>2</option>
            <option>1</option>
            <option>0</option>
          </select>
        </div>

        <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h4>Employee Comments:</h4>
          <textarea class="textAreaboxProperties well" ng-model="goalData[subsections.currentGoal].EmployeeResponse" ng-minlength="10" required></textarea>
        </div>

          <div class="alignButton">
            <button type="button" class="grey btn btn-secondary btn-responsive" ng-click="putAndGoMap()"><span class="glyphicon glyphicon-step-backward"></span> BACK</button>
            <button type="button" class="orange btn btn-warning btn-responsive" ng-click="putCompleteAndGoNextGoal()" ng-disabled="goal1.$invalid"><span class="glyphicon glyphicon-ok">

            </span> DONE</button>
          </div>
        </form>
      </div>

    <div ng-if="statuses.empThreePlus">
      <h4>Goal:</h4>
      <span class="goalboxProperties well"><p>{{goalData[subsections.currentGoal].Goal}}</p></span>

      <div class="employeeRatingAlign row col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <h4>Employee Rating:</h4>
        <p class="goalemployeeRatingBox well">{{goalData[subsections.currentGoal].EmployeeGoalRating}}</p>
      </div>
    </div>

    <div class="leaderRatingAlign row col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-if="statuses.empFivePlus">
      <h4>Leader Rating:</h4>
      <p class="leaderRatingBox well">{{goalData[subsections.currentGoal].LeaderGoalRating}}</p>
    </div>
    <div class="clearfix"></div>

    <div ng-if="statuses.empThreePlus">
    <h4>Employee Comments:</h4>
      <span class="goalboxProperties well"><p>{{goalData[subsections.currentGoal].EmployeeResponse}}</p></span>
    </div>

    <div ng-if="statuses.empFivePlus">
    <h4>Leader Comments:</h4>
      <span class="goalboxProperties well"><p>{{goalData[subsections.currentGoal].LeaderResponse}}</p></span>
    </div>


    <div ng-if="statuses.empThreePlus">
      <div class="alignButton">
        <button type="button" class="grey btn btn-secondary btn-responsive" ng-click="goMap()">
          <span class="glyphicon glyphicon-step-backward"></span> BACK</button>
        <button type="button" class="orange btn btn-warning btn-responsive" ng-click="goNextGoal()">
          <span class="glyphicon glyphicon-ok"></span> DONE</button>
        </div>
    </div>

<!--Leader View Divs-->
    <div ng-if="statuses.leaderThreePlus">
      <h4>Goal:</h4>
        <span class="goalboxProperties well"><p>{{goalData[subsections.currentGoal].Goal}}</p></span>
     </div>

      <div ng-if="statuses.leaderThreePlus" class="employeeRatingAlign row col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <h4>Employee Rating:</h4>
        <p class="goalemployeeRatingBox well">{{goalData[subsections.currentGoal].EmployeeGoalRating}}</p>
      </div>

  <form name="leaderval" id="leaderval">
    <div class="leaderRatingAlignDrop row col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-if="statuses.leaderThreeFourFive">
      <h4>Leader Rating:</h4>
      <div class="row col-xs-5 col-sm-5 col-md-4 col-lg-4"></div>
      <select class="secondGoalSelectDrop well row col-xs-2 col-sm-2 col-md-4 col-lg-4" ng-model="goalData[subsections.currentGoal].LeaderGoalRating" required>
          <option>3</option>
          <option>2</option>
          <option>1</option>
          <option>0</option>
      </select>
    </div>
    <div class="clearfix"></div>

    <div class="leaderRatingAlign row col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-if="statuses.leaderSixPlus">
         <h4>Leader Rating:</h4>
          <p class="secondleaderRatingBox well">{{goalData[subsections.currentGoal].LeaderGoalRating}}</p>
    </div>
    <div class="clearfix"></div>

    <div ng-if="statuses.leaderThreePlus">
    <h4>Employee Comments:</h4>
        <span class="goalboxProperties well"><p>{{goalData[subsections.currentGoal].EmployeeResponse}}</p></span>
    </div>

    <div ng-if="statuses.leaderThreeFourFive">
      <h4>Leader Comments:</h4>

      <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <textarea class="lasttextAreabox well" ng-model="goalData[subsections.currentGoal].LeaderResponse" ng-minlength="10" required></textarea>
      </div>
    </div>
    <br>

      <div ng-if="statuses.leaderSixPlus">
        <h4>Leader Comments:</h4>
          <span class="goalboxProperties well">
            <p>{{goalData[subsections.currentGoal].LeaderResponse}}</p>
          </span>
      </div>
      <br>

    <div ng-if="statuses.leaderThreeFourFive">
      <div class="alignButton">
        <button type="button" class="grey btn btn-secondary btn-responsive" ng-click="putAndGoMap()">
          <span class="glyphicon glyphicon-step-backward"></span> BACK</button>
        <button type="button" class="orange btn btn-warning btn-responsive" ng-click="putCompleteAndGoNextGoal()" ng-disabled="leaderval.$invalid">
          <span class="glyphicon glyphicon-ok"></span> DONE</button>
      </div>
      </form>
    </div>

    <div ng-if="statuses.leaderSixPlus">
      <div class="alignButton">
      <button type="button" class="grey btn btn-secondary btn-responsive" ng-click="goMap()">
        <span class="glyphicon glyphicon-step-backward"></span> BACK</button>
      <button type="button" class="orange btn btn-warning btn-responsive" ng-click="goNextGoal()">
        <span class="glyphicon glyphicon-ok"></span> DONE</button>

      </div>
    </div>
</div>
