<div class="container col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="employeeInfo">
    <h1 class="title">Goal {{currentGoal}}</h1>
    <h5>Review for:  {{ReviewService.reviews.currentReview[0][0].EmployeeName}}</h5>
    <h5>Regis ID:  {{ReviewService.reviews.currentReview[0][0].RegisId}}</h5>
  </div>


<!--Employee View Divs-->
    <div ng-if="ReviewService.statuses.empOneTwo">
      <h4>Goal:</h4>
        <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <textarea class="boxProperties well"
          ng-model="ReviewService.reviews.currentReview[1][currentGoal].Goal">
          </textarea>
        </div>
          <div class="clearfix"></div>

      <div>
        <h4>Employee Rating:</h4>
        <!--Come BACK and make sure this dropdown displays what is already in the DB.-->
        <select class="selectDrop well" ng-model="ReviewService.reviews.currentReview[1][currentGoal].EmployeeGoalRating">
          <option>3</option>
          <option>2</option>
          <option>1</option>
          <option>0</option>
        </select>
      </div>


      <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h4>Employee Comments:</h4>
        <textarea class="boxProperties well"
        ng-model="ReviewService.reviews.currentReview[1][currentGoal].EmployeeResponse"></textarea>
      </div>


        <div class="alignButton">
          <button type="button" class="grey btn btn-secondary btn-responsive" ng-click="putAndGoMap()">
            <span class="glyphicon glyphicon-step-backward"></span> BACK</button>
          <!--Make sure this function name matches what is on scope.-->
          <button type="button" class="orange btn btn-warning btn-responsive" ng-click="putCompleteAndGoNext()">
            <span class="glyphicon glyphicon-ok"></span> DONE</button>
            <!--Make sure this function name matches what is on scope.-->
        </div>
      </div>

    <div ng-if="ReviewService.statuses.empThreePlus">
      <h4>Goal:</h4>
        <span class="boxProperties well">
          <p>{{ReviewService.reviews.currentReview[1][currentGoal].Goal}}</p>
        </span>


      <div class="employeeRatingAlign row col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <h4>Employee Rating:</h4>
          <p class="pRating employeeRatingBox well">{{ReviewService.reviews.currentReview[1][currentGoal].EmployeeGoalRating}}</p>
      </div>
    </div>

    <div class="leaderRatingAlign row col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-if="ReviewService.statuses.empFivePlus">
      <h4>Leader Rating:</h4>
      <p class="pRating leaderRatingBox well">{{ReviewService.reviews.currentReview[1][currentGoal].LeaderGoalRating}}</p>
    </div>
    <div class="clearfix"></div>

    <div ng-if="ReviewService.statuses.empThreePlus">
    <h4>Employee Comments:</h4>
      <span class="boxProperties well">
        <p>{{ReviewService.reviews.currentReview[1][currentGoal].EmployeeResponse}}</p>
      </span>
    </div>

    <div ng-if="ReviewService.statuses.empFivePlus">
    <h4>Leader Comments:</h4>
      <span class="boxProperties well">
        <p>{{ReviewService.reviews.currentReview[1][currentGoal].LeaderResponse}}</p>
      </span>
    </div>


    <div ng-if="ReviewService.statuses.empThreePlus">
      <div class="alignButton">
        <button type="button" class="grey btn btn-secondary btn-responsive" ng-click="goMap()">
          <span class="glyphicon glyphicon-step-backward"></span> BACK</button>
        <!--Make sure the name of this function matches what is on scope.-->
        <button type="button" class="orange btn btn-warning btn-responsive" ng-click="goNext()">
          <span class="glyphicon glyphicon-ok"></span> DONE</button>
        </div>
    <!--Make sure the name of this function matches what is on scope.-->
    </div>

<!--Leader View Divs-->
    <div ng-if="ReviewService.statuses.leaderThreePlus">
      <h4>Goal:</h4>
        <span class="boxProperties well">
          <p>{{ReviewService.reviews.currentReview[1][currentGoal].Goal}}</p>
        </span>
     </div>

        <div class="employeeRatingAlign row col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <h4>Employee Rating:</h4>
          <p class="pRating employeeRatingBox well">{{ReviewService.reviews.currentReview[1][currentGoal].EmployeeResponse}}</p>
        </div>


    <div class="leaderRatingAlignDrop row col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-if="ReviewService.statuses.leaderThreeFourFive">
      <h4>Leader Rating:</h4>
      <div class="row col-xs-5 col-sm-5 col-md-4 col-lg-4"></div>
      <select class="secondGoalSelectDrop well row col-xs-2 col-sm-2 col-md-4 col-lg-4" ng-model="ReviewService.reviews.currentReview[1][currentGoal].LeaderGoalRating">
          <!--Come BACK and make sure this value matches current subsection LeaderGoalRating.-->
          <option>3</option>
          <option>2</option>
          <option>1</option>
          <option>0</option>
      </select>
    </div>
    <div class="clearfix"></div>

    <div class="leaderRatingAlign row col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-if="ReviewService.statuses.leaderSixPlus">
         <h4>Leader Rating:</h4>
          <p class="pRating leaderRatingBox well">{{ReviewService.reviews.currentReview[1][currentGoal].LeaderGoalRating}}</p>
    </div>
    <div class="clearfix"></div>

    <div ng-if="ReviewService.statuses.leaderThreePlus">
    <h4>Employee Comments:</h4>
        <span class="boxProperties well">
          <p>{{ReviewService.reviews.currentReview[1][currentGoal].EmployeeResponse}}</p>
        </span>
    </div>

    <div ng-if="ReviewService.statuses.leaderThreeFourFive">
      <h4>Leader Comments:</h4>
      <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <textarea class="boxProperties well" ng-model="ReviewService.reviews.currentReview[1][currentGoal].LeaderResponse"></textarea>
      </div>
    </div>
    <br>

      <div ng-if="ReviewService.statuses.leaderSixPlus">
        <h4>Leader Comments:</h4>
          <span class="boxProperties well">
          <p>{{ReviewService.reviews.currentReview[1][currentGoal].LeaderResponse}}</p>
          </span>
      </div>
      <br>

    <div ng-if="ReviewService.statuses.leaderThreeFourFive">
      <div class="alignButton">
        <button type="button" class="grey btn btn-secondary btn-responsive" ng-click="putAndGoMap()">
          <span class="glyphicon glyphicon-step-backward"></span> BACK</button>
        <!--Make sure this function name matches what is on scope.-->
        <button type="button" class="orange btn btn-warning btn-responsive" ng-click="putCompleteAndGoNext()">
          <span class="glyphicon glyphicon-ok"></span> DONE</button>
        <!--Make sure this function name matches what is on scope.-->
      </div>
    </div>

    <div ng-if="ReviewService.statuses.leaderSixPlus">
      <div class="alignButton">
      <button type="button" class="grey btn btn-secondary btn-responsive" ng-click="goMap()">
        <span class="glyphicon glyphicon-step-backward"></span> BACK</button>
      <!--Make sure the name of this function matches what is on scope.-->
      <button type="button" class="orange btn btn-warning btn-responsive" ng-click="goNext()">
        <span class="glyphicon glyphicon-ok"></span> DONE</button>

    <!--Make sure the name of this function matches what is on scope.-->
      </div>
    </div>

<!-- container div -->
</div>
