<div class="container col-xs-12 col-sm-12 col-md-12 col-lg-12">

  <!--HAIR images-->
  <div ng-if="hairSubsectionH">
      <img class="hairImages" src="assets/images/H2.png" alt="H honest"/>
    <div class="hairDescription">
        <span class="h1Hair">Honest: Instill Trust</span><br/>
        <span class="h5Hair">Action match words. Acts with integrity.</span>
    </div>
  </div>
  <div ng-if="hairSubsectionA">
    <img class="hairImages" src="assets/images/A1.png" alt="A accountable"/>
    <div class="hairDescription">
        <span class="h1Hair">Accountable: Drive Engagement & Deliver Results</span><br/>
        <span class="h5Hair">Prioritizes and acts with urgency. Accomplishes goals. Focuses on the guest experience.</span>
    </div>
  </div>
  <div ng-if="hairSubsectionI">
    <img class="hairImages" src="assets/images/I1.png" alt="I inspiring"/>
    <div class="hairDescription">
        <span class="h1Hair">Inspiring: Attract Top Talent & Develop Our People</span><br/>
        <span class="h5Hair">Stays current with trends. Lives the Regis vision. To be the best place where stylists have successful and satisfying careers. Staffs and retains team for growth.</span>
    </div>
  </div>
  <div ng-if="hairSubsectionR">
    <img class="hairImages" src="assets/images/R1.png" alt="R respectful"/>
    <div class="hairDescription">
        <span class="h1Hair">Respectful: Collaborate and Partner & Gratitude and Appreciation</span><br/>
        <span class="h5Hair">Works cooperatively. Gains trust and support of others. Listens and voices opinions thoughtfully. Values the uniqueness of others.</span>
    </div>
  </div>

  <!--Review Info:-->
  <div class="employeeInfo">
    <span class="h5">Review for:</span>  <span class="pageNames ">{{currentReviewEmpInfo.EmployeeName}}</span><br/>
    <span class="h5">Regis ID:</span>  <span class="pageNames ">{{currentReviewEmpInfo.RegisId}}</span>
  </div>

  <!--Employee View:-->
  <div ng-if="statuses.empOneTwo">
    <h4>Employee Comments:</h4>
    <form name="hairform" id="hairform">
      <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <textarea class="boxProperties well" ng-minlength="10" ng-model="hairData.subsections[subsections.currentHAIR].EmployeeResponse" required></textarea>
      </div>
    <div class="alignButton">
      <button type="button" class="grey btn btn-secondary btn-responsive" ng-click="putAndGoMap()">  <span class="glyphicon glyphicon-step-backward"></span> BACK</button>
      <button type="button" class="orange btn btn-warning btn-responsive" ng-click="putCompleteAndGoNextHAIR()" ng-disabled="hairform.$invalid"><span class="glyphicon glyphicon-ok"></span> DONE</button>
    </div>
  </form>
  </div>

  <div ng-if="statuses.empThreePlus">
    <h4>Employee Comments:</h4>
    <span class="ReadboxProperties well">{{hairData.subsections[subsections.currentHAIR].EmployeeResponse}}</span>
  </div>

  <div ng-if="statuses.empFivePlus">
    <h4>Leader Comments:</h4>
    <span class="ReadboxProperties well">{{hairData.subsections[subsections.currentHAIR].LeaderResponse}}</span>
  </div>

  <div ng-if="statuses.empThreePlus">
    <div class="alignButton">
      <button type="button" class="grey btn btn-secondary btn-responsive" ng-click="goMap()"><span class="glyphicon glyphicon-step-backward"></span> BACK</button>
      <button type="button" class="orange btn btn-warning btn-responsive" ng-click="goNextHAIR()"><span class="glyphicon glyphicon-ok"></span> DONE</button>
    </div>
  </div>

  <!--Leader View divs-->
  <div ng-if="statuses.leaderThreePlus">
    <h4>Employee Comments:</h4>
    <span class="ReadboxProperties">{{hairData.subsections[subsections.currentHAIR].EmployeeResponse}}</span>
  </div>

  <div ng-if="statuses.leaderThreeFourFive">
    <h4>Leader Comments:</h4>
    <form name="leaderhair" id="leaderhair">
      <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <textarea class="boxProperties well" ng-model="hairData.subsections[subsections.currentHAIR].LeaderResponse" required></textarea>
      </div>

      <div class="alignButton">
        <button type="button" class="grey btn btn-secondary btn-responsive" ng-click="putAndGoMap()"><span class="glyphicon glyphicon-step-backward"></span> BACK</button>
        <button type="button" class="orange btn btn-warning btn-responsive" ng-click="putCompleteAndGoNextHAIR()" ng-disabled="leaderhair.$invalid"><span class="glyphicon glyphicon-ok"></span> DONE</button>
      </div>
    </form>
  </div>

  <div ng-if="statuses.leaderSixPlus">
    <h4>Leader Comments:</h4>
    <span class="ReadboxProperties">{{hairData.subsections[subsections.currentHAIR].LeaderResponse}}</span>

    <div class="alignButton">
        <button type="button" class="grey btn btn-secondary btn-responsive" ng-click="goMap()"><span class="glyphicon glyphicon-step-backward"></span> BACK</button>
        <button type="button" class="orange btn btn-warning btn-responsive" ng-click="goNextHAIR()"><span class="glyphicon glyphicon-ok"></span> DONE</button>
    </div>
  </div>
</div>
