<img src="" alt=""/>
<h1 class="">Main Description:</h1>
<h2 class="">Secondary description<h2>

<div class="employeeInfo">
    <p>Name:  {{}} <!--(Add a reference to Employee being reviewed)--></p>
    <p>Regis ID:  {{}} <!--(Add a reference to Employee being reviewed)--></p>
</div>


<!--Employee View divs-->
<div ng-if="empOneTwo">
  <h4>Employee Comments:</h4>
  <textarea ng-model="thisHairCompetency">(Come back and make sure the ng-model connects to the current subsection EmpHairCompetency string.)</textarea>
  <button ng-click="putAndGoMap()">BACK</button>
  <!--Make sure this function name matches what is on scope.-->
  <button ng-click="putCompleteAndGoNext()">DONE</button>
  <!--Make sure this function name matches what is on scope.-->
</div>

<div ng-if="empThreePlus">
  <h4>Employee Comments:</h4>
  <p>{{}} Comments from thisEmpHairCompetency subsection.</p>
</div>

<div ng-if="empFivePlus">
  <h4>Leader Comments:</h4>
  <p>{{}} Make sure this connects to subsection of LeaderHairCompetencyComment for this review</p>
</div>

<div ng-if="empThreePlus">
  <button ng-click="goMap()">BACK</button>
  <!--Make sure the name of this function matches what is on scope.-->
  <button ng-click="goNext()">DONE</button>
  <!--Make sure the name of this function matches what is on scope.-->
</div>


<!--Leader View divs-->
<div ng-if="leaderThreePlus">
  <h4>Employee Comments:</h4>
  <p>{{}} Employee comments from the EmpHairCompetency subsection for this review</p>
</div>

<div ng-if="leaderThreeFourFive">
  <h4>Leader Comments:</h4>
  <textarea ng-model="theHairCompLeaderComment"></textarea>
  <button ng-click="putAndGoMap()">BACK</button>
  <!--Make sure this function name matches what is on scope.-->
  <button ng-click="putCompleteAndGoNext()">DONE</button>
  <!--Make sure this function name matches what is on scope.-->
</div>

<div ng-if="leaderSixPlus">
  <h4>Leader Comments:</h4>
  <p>{{}} Leader comments from the LeaderHairCompetencyComment subsection</p>
  <button ng-click="goMap()">BACK</button>
  <!--Make sure the name of this function matches what is on scope.-->
  <button ng-click="goNext()">DONE</button>
  <!--Make sure the name of this function matches what is on scope.-->
</div>
