<div class="container col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-init="loadHomePageInfo()">

  <div class="h1Home">
  <span>Employee Review Home Page</span>
  </div>

  <div class="homepageSubs">
    <span class="h5">Name:</span> <span class="pageNames">{{myReview.empInfo.EmployeeName}}</span><br/>
    <span class="h5" ng-if="type.typeSalon">Title:</span>  <span ng-if="type.typeSalon" class="pageNames">{{myReview.empInfo.Title}}</span><br ng-if="type.typeSalon"/>
    <span class="h5">Regis ID:</span> <span class="pageNames">{{myReview.empInfo.RegisId}}</span><br/>
    <span class="h5" ng-if="type.typeField">Hire Date:</span>  <span ng-if="type.typeField" class="pageNames">{{myReview.empInfo.HireDate}}</span><br ng-if="type.typeField"/>
    <span class="h5">Leader:</span> <span class="pageNames">{{myReview.empInfo.LeaderName}}</span><br/>
    <span class="h5" ng-if="type.typeSalon">Department:</span>  <span ng-if="type.typeSalon" class="pageNames">{{myReview.empInfo.Department}}</span><br ng-if="type.typeSalon"/>
    <span class="h5">Review Period:</span> <span class="pageNames">{{myReview.empInfo.ReviewPeriod}}</span><br/>
    <span class="h5" ng-if="type.typeField">Position/Region:</span> <span ng-if="type.typeField" class="pageNames">{{myReview.empInfo.PositionRegion}}</span><br ng-if="type.typeField"/>
    <span class="h5" ng-if="type.typeField">Date in Position:</span> <span ng-if="type.typeField" class="pageNames">{{myReview.empInfo.DateInPosition}}</span>
  </div>
  <div class="clearfix"></div>

  <div class="homePageLeadButtons">
    <a href="/map"><button type="button" class="green btn btn-success btn-md btn-responsive" ng-if="myReviewStatuses.empOneTwo" ng-click="getReview(myReview.empInfo.RegisId)"><span class="glyphicon glyphicon-play"></span> START</button></a>
    <a href="/map"><button type="button" class="review btn btn-info btn-md btn-responsive"  ng-if="myReviewStatuses.empThreePlus" ng-click="getReview(myReview.empInfo.RegisId)"><span class="glyphicon glyphicon-eye-open"></span> REVIEW</button></a>
    <button type="button" class="orange btn btn-warning btn-responsive" ng-if="myReviewStatuses.empSixAndNoEmpSignature" ng-click="signOwnReview()">  <span class="glyphicon glyphicon-pencil"></span> SIGN</button></a>
    <button type="button" class="grey btn btn-secondary btn-responsive" ng-if="myReviewStatuses.empSeven"  ng-click="emailMyPDF()"><span class="glyphicon glyphicon-send"></span> EMAIL PDF</button></a>
    <hr>
  </div>

    <div ng-repeat="person in teamReviews.data">

      <div class="empName">
        <span>{{person.EmployeeName}}</span>
      </div>

      <div class="homePageEmpButtons">
        <button type="button" ng-if="person.ReviewStatus == 3" class="green btn btn-success btn-md btn-responsive" ng-click="getReview(person.RegisId)"><span class="glyphicon glyphicon-play"></span> START</button>
        <button type="button" ng-if="person.ReviewStatus == 4" class="orange btn btn-warning btn-responsive" ng-click="getReview(person.RegisId)"><span class="glyphicon glyphicon-pencil"></span> EDIT</button>
        <button type="button" ng-if="person.ReviewStatus == 5" class="review btn btn-info btn-md btn-responsive" ng-click="getReview(person.RegisId)"><span class="glyphicon glyphicon-eye-open"></span> REVIEW & UPDATE</button>
        <button type="button" ng-if="person.ReviewStatus == 6 && !person.LeaderSignature" class="review btn btn-info btn-md btn-responsive" ng-click="getReview(person.RegisId)"><span class="glyphicon glyphicon-pencil"></span> REVIEW & SIGN</button>
        <button type="button" ng-if="person.ReviewStatus == 7 || person.LeaderSignature" class="grey btn btn-secondary btn-responsive" ng-click="getReview(person.RegisId)"><span class="glyphicon glyphicon-eye-open"></span> READ</button>
        <button type="button" ng-if="person.ReviewStatus == 7 || person.LeaderSignature" class="grey btn btn-secondary btn-responsive" ng-click="emailEmpPDF(person.RegisId)"><span class="glyphicon glyphicon-send"></span> EMAIL PDF</button>
      </div>
    </div>
</div>
