<div class="container col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div>
    <a href="/"><button type="button" class="homeOrange pull-right btn btn-warning btn-responsive"><span class="glyphicon glyphicon-home"></span> HOME PAGE</button></a>
  </div>

  <div>
    <span class="EmpRev">Employee Review Map</span>
  </div>

    <span class="h5">Review for:</span>  <span class="pageNames">{{currentReview.empInfo.EmployeeName}}</span><br/>
    <span class="h5">Regis ID:</span>  <span class="pageNames">{{currentReview.empInfo.RegisId}}</span>
    <hr>
    <!--Employee View-->
    <div ng-if="ReviewService.role.emp">
        <div ng-if="type.typeField">
            <p ng-show="currentReview.subsections[0].isCompleted"><img src="/assets/images/checkboxChecked.png"> <a href="/finances">Finances</a></p>
            <p ng-hide="currentReview.subsections[0].isCompleted;"><img src="/assets/images/checkboxUnchecked.png">  <a href="/finances">Finances</a></p>
        </div>

        <div ng-if="type.typeSalon">
            <p ng-show="currentReview.subsections[1].isCompleted"><img src="/assets/images/checkboxChecked.png"> <a href="/goals" ng-click="setCurrentGoal(1)">Goal 1</a></p>
            <p ng-hide="currentReview.subsections[1].isCompleted"><img src="/assets/images/checkboxUnchecked.png"> <a href="/goals" ng-click="setCurrentGoal(1)">Goal 1</a></p>
        </div>

        <div ng-if="type.typeSalon">
            <p ng-show="currentReview.subsections[2].isCompleted"><img src="/assets/images/checkboxChecked.png"> <a href="/goals" ng-click="setCurrentGoal(2)">Goal 2</a></p>
            <p ng-hide="currentReview.subsections[2].isCompleted"><img src="/assets/images/checkboxUnchecked.png"> <a href="/goals" ng-click="setCurrentGoal(2)">Goal 2</a></p>
        </div>

        <div ng-if="type.typeSalon">
            <p ng-show="currentReview.subsections[3].isCompleted"><img src="/assets/images/checkboxChecked.png"> <a href="/goals" ng-click="setCurrentGoal(3)">Goal 3</a></p>
            <p ng-hide="currentReview.subsections[3].isCompleted"><img src="/assets/images/checkboxUnchecked.png"> <a href="/goals" ng-click="setCurrentGoal(3)">Goal 3</a></p>
        </div>

        <div ng-if="type.typeSalon">
            <p ng-show="currentReview.subsections[4].isCompleted"><img src="/assets/images/checkboxChecked.png"> <a href="/goals" ng-click="setCurrentGoal(4)">Goal 4</a></p>
            <p ng-hide="currentReview.subsections[4].isCompleted"><img src="/assets/images/checkboxUnchecked.png"> <a href="/goals" ng-click="setCurrentGoal(4)">Goal 4</a></p>
        </div>

        <div ng-if="type.typeSalon">
            <p ng-show="currentReview.subsections[5].isCompleted"><img src="/assets/images/checkboxChecked.png"> <a href="/goals" ng-click="setCurrentGoal(5)">Goal 5</a></p>
            <p ng-hide="currentReview.subsections[5].isCompleted"><img src="/assets/images/checkboxUnchecked.png"> <a href="/goals" ng-click="setCurrentGoal(5)">Goal 5</a></p>
        </div>

        <div>
            <p ng-show="currentReview.subsections[6].isCompleted"><img src="/assets/images/checkboxChecked.png"> <a href="/hair" ng-click="setCurrentHAIR(1)">Honest</a></p>
            <p ng-hide="currentReview.subsections[6].isCompleted"><img src="/assets/images/checkboxUnchecked.png"> <a href="/hair" ng-click="setCurrentHAIR(1)">Honest</a></p>
        </div>

        <div>
            <p ng-show="currentReview.subsections[7].isCompleted"><img src="/assets/images/checkboxChecked.png"> <a href="/hair" ng-click="setCurrentHAIR(2)">Accountable</a></p>
            <p ng-hide="currentReview.subsections[7].isCompleted"><img src="/assets/images/checkboxUnchecked.png"> <a href="/hair" ng-click="setCurrentHAIR(2)">Accountable</a></p>
        </div>

        <div>
            <p ng-show="currentReview.subsections[8].isCompleted"><img src="/assets/images/checkboxChecked.png"> <a href="/hair" ng-click="setCurrentHAIR(3)">Inspiring</a></p>
            <p ng-hide="currentReview.subsections[8].isCompleted"><img src="/assets/images/checkboxUnchecked.png"> <a href="/hair" ng-click="setCurrentHAIR(3)">Inspiring</a></p>
        </div>

        <div>
            <p ng-show="currentReview.subsections[9].isCompleted"><img src="/assets/images/checkboxChecked.png"> <a href="/hair" ng-click="setCurrentHAIR(4)">Respectful</a></p>
            <p ng-hide="currentReview.subsections[9].isCompleted"><img src="/assets/images/checkboxUnchecked.png">  <a href="/hair" ng-click="setCurrentHAIR(4)">Respectful</a></p>
        </div>

        <div>
            <p ng-show="currentReview.subsections[10].isCompleted"><img src="/assets/images/checkboxChecked.png"> <a href="/hair-rating">Hair Rating</a></p>
            <p ng-hide="currentReview.subsections[10].isCompleted"><img src="/assets/images/checkboxUnchecked.png"> <a href="/hair-rating">Hair Rating</a></p>
        </div>

        <div>
            <p ng-show="currentReview.subsections[11].isCompleted"><img src="/assets/images/checkboxChecked.png"> <a href="/strengths-devs" ng-click="setCurrentStrengthDev(1)">Strengths</a></p>
            <p ng-hide="currentReview.subsections[11].isCompleted"><img src="/assets/images/checkboxUnchecked.png"> <a href="/strengths-devs" ng-click="setCurrentStrengthDev(1)">Strengths</a></p>
        </div>

        <div>
            <p ng-show="currentReview.subsections[12].isCompleted"><img src="/assets/images/checkboxChecked.png"> <a href="/strengths-devs" ng-click="setCurrentStrengthDev(2)">Development Opportunities</a></p>
            <p ng-hide="currentReview.subsections[12].isCompleted"><img src="/assets/images/checkboxUnchecked.png"> <a href="/strengths-devs" ng-click="setCurrentStrengthDev(2)">Development Opportunities</a></p>
        </div>

        <div>
            <p ng-show="currentReview.subsections[13].isCompleted"><img src="/assets/images/checkboxChecked.png"> <a href="/final-rating">Final Comments and Rating</a></p>
            <p ng-hide="currentReview.subsections[13].isCompleted"><img src="/assets/images/checkboxUnchecked.png"> <a href="/final-rating">Final Comments and Rating</a></p>
        </div>

        <div class="Mapbuttons">
            <div ng-if="statuses.empOneTwo">
                <p ng-hide="submitStatus.empReadyToSubmit">Please complete all sections above in order to submit your review to your leader.</p>
              <button type="button" ng-disabled="!submitStatus.empReadyToSubmit" class="darkBlue btn btn-primary btn-responsive" ng-click="empSubmit()"><span class="glyphicon glyphicon-upload"></span> SUBMIT</button>
            </div>
             <div ng-if="statuses.empSixAndNoEmpSignature">
              <a href="/signature"><button type="button" class="orange btn btn-warning btn-responsive"><span class="glyphicon glyphicon-pencil"></span> SIGN REVIEW</button></a>
            </div>
        </div>
      </div>

    <!--Leader View-->
    <div ng-if="ReviewService.role.leader">
        <div ng-if="type.typeField">
            <p ng-show="currentReview.subsections[0].isLeaderCompleted"><img src="/assets/images/checkboxChecked.png"> <a href="/finances">Finances</a></p>
            <p ng-hide="currentReview.subsections[0].isLeaderCompleted;"><img src="/assets/images/checkboxUnchecked.png">  <a href="/finances">Finances</a></p>
        </div>

        <div ng-if="type.typeSalon">
            <p ng-show="currentReview.subsections[1].isLeaderCompleted"><img src="/assets/images/checkboxChecked.png"> <a href="/goals" ng-click="setCurrentGoal(1)"> Goal 1</a></p>
            <p ng-hide="currentReview.subsections[1].isLeaderCompleted"><img src="/assets/images/checkboxUnchecked.png"> <a href="/goals" ng-click="setCurrentGoal(1)"> Goal 1</a></p>
        </div>

        <div ng-if="type.typeSalon">
            <p ng-show="currentReview.subsections[2].isLeaderCompleted"><img src="/assets/images/checkboxChecked.png"><a href="/goals" ng-click="setCurrentGoal(2)"> Goal 2</a></p>
            <p ng-hide="currentReview.subsections[2].isLeaderCompleted"><img src="/assets/images/checkboxUnchecked.png"> <a href="/goals" ng-click="setCurrentGoal(2)"> Goal 2</a></p>
        </div>

        <div ng-if="type.typeSalon">
            <p ng-show="currentReview.subsections[3].isLeaderCompleted"><img src="/assets/images/checkboxChecked.png"> <a href="/goals" ng-click="setCurrentGoal(3)"> Goal 3</a></p>
            <p ng-hide="currentReview.subsections[3].isLeaderCompleted"><img src="/assets/images/checkboxUnchecked.png"> <a href="/goals" ng-click="setCurrentGoal(3)"> Goal 3</a></p>
        </div>

        <div ng-if="type.typeSalon">
            <p ng-show="currentReview.subsections[4].isLeaderCompleted"><img src="/assets/images/checkboxChecked.png" ng-click="setCurrentGoal(4)"><a href="/goals"> Goal 4</a></p>
            <p ng-hide="currentReview.subsections[4].isLeaderCompleted"><img src="/assets/images/checkboxUnchecked.png" ng-click="setCurrentGoal(4)"> <a href="/goals"> Goal 4</a></p>
        </div>

        <div ng-if="type.typeSalon">
            <p ng-show="currentReview.subsections[5].isLeaderCompleted"><img src="/assets/images/checkboxChecked.png"> <a href="/goals" ng-click="setCurrentGoal(5)"> Goal 5</a></p>
            <p ng-hide="currentReview.subsections[5].isLeaderCompleted"><img src="/assets/images/checkboxUnchecked.png"> <a href="/goals" ng-click="setCurrentGoal(5)"> Goal 5</a></p>
        </div>

        <div>
            <p ng-show="currentReview.subsections[6].isLeaderCompleted"><img src="/assets/images/checkboxChecked.png"> <a href="/hair" ng-click="setCurrentHAIR(1)"> Honest</a></p>
            <p ng-hide="currentReview.subsections[6].isLeaderCompleted"><img src="/assets/images/checkboxUnchecked.png"> <a href="/hair" ng-click="setCurrentHAIR(1)"> Honest</a></p>
        </div>

        <div>
            <p ng-show="currentReview.subsections[7].isLeaderCompleted"><img src="/assets/images/checkboxChecked.png"> <a href="/hair" ng-click="setCurrentHAIR(2)"> Accountable</a></p>
            <p ng-hide="currentReview.subsections[7].isLeaderCompleted"><img src="/assets/images/checkboxUnchecked.png"> <a href="/hair" ng-click="setCurrentHAIR(2)"> Accountable</a></p>
        </div>

        <div>
            <p ng-show="currentReview.subsections[8].isLeaderCompleted"><img src="/assets/images/checkboxChecked.png"> <a href="/hair" ng-click="setCurrentHAIR(3)"> Inspiring</a></p>
            <p ng-hide="currentReview.subsections[8].isLeaderCompleted"><img src="/assets/images/checkboxUnchecked.png"> <a href="/hair" ng-click="setCurrentHAIR(3)"> Inspiring</a></p>
        </div>

        <div>
            <p ng-show="currentReview.subsections[9].isLeaderCompleted"><img src="/assets/images/checkboxChecked.png"> <a href="/hair" ng-click="setCurrentHAIR(4)"> Respectful</a></p>
            <p ng-hide="currentReview.subsections[9].isLeaderCompleted"><img src="/assets/images/checkboxUnchecked.png">  <a href="/hair" ng-click="setCurrentHAIR(4)"> Respectful</a></p>
        </div>

        <div>
            <p ng-show="currentReview.subsections[10].isLeaderCompleted"><img src="/assets/images/checkboxChecked.png"> <a href="/hair-rating"> Hair Rating</a></p>
            <p ng-hide="currentReview.subsections[10].isLeaderCompleted"><img src="/assets/images/checkboxUnchecked.png"> <a href="/hair-rating"> Hair Rating</a></p>
        </div>

        <div>
            <p ng-show="currentReview.subsections[11].isLeaderCompleted"><img src="/assets/images/checkboxChecked.png"><a href="/strengths-devs" ng-click="setCurrentStrengthDev(1)"> Strengths</a></p>
            <p ng-hide="currentReview.subsections[11].isLeaderCompleted"><img src="/assets/images/checkboxUnchecked.png"> <a href="/strengths-devs" ng-click="setCurrentStrengthDev(1)"> Strengths</a></p>
        </div>

        <div>
            <p ng-show="currentReview.subsections[12].isLeaderCompleted"><img src="/assets/images/checkboxChecked.png"> <a href="/strengths-devs" ng-click="setCurrentStrengthDev(2)"> Development Opportunities</a></p>
            <p ng-hide="currentReview.subsections[12].isLeaderCompleted"><img src="/assets/images/checkboxUnchecked.png"> <a href="/strengths-devs" ng-click="setCurrentStrengthDev(2)"> Development Opportunities</a></p>
        </div>

        <div>
            <p ng-show="currentReview.subsections[13].isLeaderCompleted"><img src="/assets/images/checkboxChecked.png"><a href="/final-rating"> Final Comments and Rating</a></p>
            <p ng-hide="currentReview.subsections[13].isLeaderCompleted"><img src="/assets/images/checkboxUnchecked.png"> <a href="/final-rating"> Final Comments and Rating</a></p>
        </div>
      <div class="Mapbuttons">
        <div ng-if="statuses.leaderThreeFour">
            <p ng-hide="submitStatus.empReadyToSubmit">Please complete all sections above in order to submit and make your responses visible to the employee.</p>
            <button type="button" class="darkBlue btn btn-primary btn-responsive" ng-disabled="!submitStatus.leaderReadyToSubmit" ng-click="leaderSubmitSendToEmp()"><span class="glyphicon glyphicon-upload"></span> SUBMIT & SEND TO EMPLOYEE</button>
        </div>

        <div ng-if="statuses.leaderFive">
            <button type="button" class="green btn btn-success btn-responsive" ng-click="leaderSubmitForSignatures()"><span class="glyphicon glyphicon-ok"></span> FINALIZE & GET SIGNATURES</button>
        </div>

        <div ng-if="statuses.leaderSixAndNoLeaderSignature">
            <a href="/signature"><button type="button" class="orange btn btn-warning btn-responsive"><span class="glyphicon glyphicon-pencil"></span> SIGN REVIEW</button></a>
        </div>
      </div>
    </div>
  </div>
