<div class="container col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-init="getMapArray()">
  <h1>Employee Review Map</h1>
  <a href="/">Return to Home Page</a>

    <!--<div>-->
        <!--<p>{{dataTest}}</p>-->
    <!--</div>-->
  <div>
      <p ng-show="financesComplete"><img src="/assets/images/checkboxChecked.png"> <a href="/finances">Finances</a></p>
      <p ng-hide="financesComplete"><img src="/assets/images/checkboxUnchecked.png">  <a href="/finances">Finances</a></p>
  </div>

  <div>
      <p ng-show="goalOneComplete"><img src="/assets/images/checkboxChecked.png"> <a href="/goals" ng-click="setCurrentGoal(1)">Goal 1</a></p>
      <p ng-hide="goalOneComplete"><img src="/assets/images/checkboxUnchecked.png"> <a href="/goals" ng-click="setCurrentGoal(1)">Goal 1</a></p>
      <!--Add a function to take in the Goal Number, change "currentSubsection" to that goal, and reroute to goals.html.-->
  </div>

  <div>
      <p ng-show="goalTwoComplete"><img src="/assets/images/checkboxChecked.png"><a href="/goals" ng-click="setCurrentGoal(2)">Goal 2</a></p>
      <p ng-hide="goalTwoComplete"><img src="/assets/images/checkboxUnchecked.png"> <a href="/goals" ng-click="setCurrentGoal(2)">Goal 2</a></p>
      <!--Add a function to take in the Goal Number, change "currentSubsection" to that goal, and reroute to goals.html.-->
  </div>

  <div>
      <p ng-show="goalThreeComplete"><img src="/assets/images/checkboxChecked.png"> <a href="/goals" ng-click="setCurrentGoal(3)">Goal 3</a></p>
      <p ng-hide="goalThreeComplete"><img src="/assets/images/checkboxUnchecked.png"> <a href="/goals" ng-click="setCurrentGoal(3)">Goal 3</a></p>
      <!--Add a function to take in the Goal Number, change "currentSubsection" to that goal, and reroute to goals.html.-->
  </div>

  <div>
      <p ng-show="goalFourComplete"><img src="/assets/images/checkboxChecked.png" ng-click="setCurrentGoal(4)"><a href="/goals">Goal 4</a></p>
      <p ng-hide="goalFourComplete"><img src="/assets/images/checkboxUnchecked.png" ng-click="setCurrentGoal(4)"> <a href="/goals">Goal 4</a></p>
      <!--Add a function to take in the Goal Number, change "currentSubsection" to that goal, and reroute to goals.html.-->
  </div>

  <div>
      <p ng-show="goalFiveComplete"><img src="/assets/images/checkboxChecked.png"> <a href="/goals" ng-click="setCurrentGoal(5)">Goal 5</a></p>
      <p ng-hide="goalFiveComplete"><img src="/assets/images/checkboxUnchecked.png"> <a href="/goals" ng-click="setCurrentGoal(5)">Goal 5</a></p>
      <!--Add a function to take in the Goal Number, change "currentSubsection" to that goal, and reroute to goals.html.-->
  </div>

  <div>
      <p ng-show="hComplete"><img src="/assets/images/checkboxChecked.png"> <a href="/hair" ng-click="setCurrentHAIR(1)">Honest</a></p>
      <p ng-hide="hComplete"><img src="/assets/images/checkboxUnchecked.png"> <a href="/hair" ng-click="setCurrentHAIR(1)">Honest</a></p>
      <!--Add a function to take in HAIR designation, change "currentSubsection" to that goal, and reroute to goals.html.-->
  </div>

  <div>
      <p ng-show="aComplete"><img src="/assets/images/checkboxChecked.png"> <a href="/hair" ng-click="setCurrentHAIR(2)">Accountable</a></p>
      <p ng-hide="aComplete"><img src="/assets/images/checkboxUnchecked.png"> <a href="/hair" ng-click="setCurrentHAIR(2)">Accountable</a></p>
      <!--Add a function to take in HAIR designation, change "currentSubsection" to that goal, and reroute to goals.html.-->
  </div>

  <div>
      <p ng-show="iComplete"><img src="/assets/images/checkboxChecked.png"> <a href="/hair" ng-click="setCurrentHAIR(3)">Inspiring</a></p>
      <p ng-hide="iComplete"><img src="/assets/images/checkboxUnchecked.png"> <a href="/hair" ng-click="setCurrentHAIR(3)">Inspiring</a></p>
      <!--Add a function to take in HAIR designation, change "currentSubsection" to that goal, and reroute to goals.html.-->
  </div>

  <div>
      <p ng-show="rComplete"><img src="/assets/images/checkboxChecked.png"> <a href="/hair" ng-click="setCurrentHAIR(4)">Respectful</a></p>
      <p ng-hide="rComplete"><img src="/assets/images/checkboxUnchecked.png">  <a href="/hair" ng-click="setCurrentHAIR(4)">Respectful</a></p>
      <!--Add a function to take in HAIR designation, change "currentSubsection" to that goal, and reroute to goals.html.-->
  </div>

  <div>
      <p ng-show="hairRatingComplete"><img src="/assets/images/checkboxChecked.png"> <a href="/hair-rating">Hair Rating</a></p>
      <p ng-hide="hairRatingComplete"><img src="/assets/images/checkboxUnchecked.png"> <a href="/hair-rating">Hair Rating</a></p>
  </div>

  <div>
      <p ng-show="strengthsComplete"><img src="/assets/images/checkboxChecked.png"><a href="/strengths-devs" ng-click="setCurrentStrengthDev(1)">Strengths</a></p>
      <p ng-hide="strengthsComplete"><img src="/assets/images/checkboxUnchecked.png"> <a href="/strength-devs" ng-click="setCurrentStrengthDev(1)">Strengths</a></p>
  </div>

  <div>
      <p ng-show="developmentComplete"><img src="/assets/images/checkboxChecked.png"> <a href="/strengths-devs" ng-click="setCurrentStrengthDev(2)">Development Opportunities</a></p>
      <p ng-hide="developmentComplete"><img src="/assets/images/checkboxUnchecked.png"> <a href="/strengths-devs" ng-click="setCurrentStrengthDev(2)">Development Opportunities</a></p>
  </div>

  <div>
      <p ng-show="finalRatingComplete"><img src="/assets/images/checkboxChecked.png"><a href="/final-rating">Final Comments and Rating</a></p>
      <p ng-hide="finalRatingComplete"><img src="/assets/images/checkboxUnchecked.png"> <a href="/final-rating">Final Comments and Rating</a></p>
  </div>

  <div ng-if="statuses.empOneTwo">
  <!--<div ng-if="2 < 0">-->
      <button>SUBMIT</button>
      <!--This button should only be active when all required sections are complete.  Will change to State 3.-->
  </div>

  <div ng-if="statuses.empSix">
      <button><a href="/signature">SIGN REVIEW</a></button>
      <!--This button should be active only in State 6.  Will bring to signature page.-->
  </div>

  <div ng-if="statuses.leaderThreeFour">
      <button>SUBMIT & SEND TO EMPLOYEE</button>
      <!--This button should be active only be active when all required sections are complete.  Will change to State 5.-->
  </div>

  <div ng-if="statuses.leaderFive">
      <button>FINALIZE & GET SIGNATURES</button>
      <!--This button should be active only in State 5.  Will change to State 6.-->
  </div>

  <div ng-if="statuses.leaderSix">
      <button><a href="/signature">SIGN REVIEW</a></button>
      <!--This button should be active only in State 6.  Will route to Signature page-->
  </div>
  
  <!-- container div -->
  </div>
