
<div class="container col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="clearfix"></div>

  <div class="employeeInfo">
      <span class="h1">Signature Page</span>
      <span span class="h5">Review for:</span>  <span class="pageNames ">{{currentReview.empInfo.EmployeeName}}</span><br/>
      <span span class="h5">Regis ID:</span>  <span class="pageNames ">{{currentReview.empInfo.RegisId}}</span>
  </div>

<div ng-if="statuses.empSix">
  <h4>Employee Initials:</h4>
    <form name="empSignForm" id="empSignForm">
        <input type="text" required class="initialInput form-control" placeholder="Initial Here" ng-model="currentReview.empInfo.EmployeeSignature"></input>

        <div class="checkMe">
            <input class="customCheckBox" required type="checkbox" ng-model="empCanSubmit">
        </div>

        <div class="clearfix"></div>
        <div>
            <span class="legal well">I understand my electronic signature has the same validity as my handwritten signature, and it confirms I have been advised of my performance status and I was given an opportunity to respond to the Performance Review.</span>
        </div>
        <div class="clearfix"></div>

        <div class="alignButton">
            <button type="button" class="grey btn btn-secondary btn-responsive" ng-click="goMap()"><span class="glyphicon glyphicon-step-backward"></span>BACK</button>
            <button type="button" class="orange btn btn-warning btn-responsive" ng-disabled="empSignForm.$invalid" ng-disabled="!empCanSubmit" ng-click="putAndGoHome()"><span class="glyphicon glyphicon-pencil"></span> SIGN</button>
        </div>

    </form>
</div>

<div ng-if="statuses.leaderSix">
  <h4>Leader Initials:</h4>
    <form name="leaderSignForm" id="leaderSignForm">
        <input type="text" required class="initialInput form-control" placeholder="Initial Here" ng-model="currentReview.empInfo.LeaderSignature"></input>

        <div class="checkMe">
            <input class="customCheckBox" required type="checkbox" ng-model="leaderCanSubmit">
        </div>

        <div>
            <span class="legal well">I understand an electronic signature has the same validity as a handwritten signature, and it confirms Employee was advised of his/her performance status and given an opportunity to respond to the Performance Review.</span>
        </div>
        <div class="alignButton">
            <button type="button" class="grey btn btn-secondary btn-responsive" ng-click="goMap()">
                <span class="glyphicon glyphicon-step-backward"></span>BACK</button>
            <button type="button" class="orange btn btn-warning btn-responsive" ng-disabled="leaderSignForm.$invalid" ng-disabled="!leaderCanSubmit" ng-click="putAndGoHome()"><span class="glyphicon glyphicon-pencil"></span> SIGN</button>
        </div>

    </form>
  </div>
</div>
