<div class="container col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="employeeInfo">
      <h1 class="title">Signature Page</h1>
      <h5>Name:  {{}} <!--(Add a reference to Employee being reviewed)--></h5>
      <h5>Regis ID:  {{}} <!--(Add a reference to Employee being reviewed)--></h5>
  </div>

<div class="alignButton" ng-if="empSix">
  <h4>Employee Initials:</h4>
  <textarea ng-model="empInitials">This will only hold empInitials</textarea>
  <input type="checkbox" ng-model="checkedEmpSig">
  <p>This will hold some text about e-signatures, etc.  This will come from Regis Corporation Human Resources.</p>
  <button type="button" class="grey btn btn-secondary"
  ng-click="goMap()"><span class="glyphicon glyphicon-step-backward"></span>BACK</button>
  <!--Make sure this function name matches what is on scope.-->
  <button type="button" class="orange btn btn-warning"
   ng-click="putAndGoHome()">
    <span class="glyphicon glyphicon-pencil"></span> SIGN</button>
  <!--Make sure this function name matches what is on scope.-->
</div>

<div class="alignButton" ng-if="leaderSix">
  <h4>Leader Initials:</h4>
  <textarea ng-model="leaderInitials">This will only hold empInitials</textarea>
  <input type="checkbox" ng-model="checkedLeaderSig">
  <p>This will hold some text about e-signatures, etc.  This will come from Regis Corporation Human Resources.</p>

  <button type="button" class="grey btn btn-secondary"
  ng-click="goMap()">
    <span class="glyphicon glyphicon-step-backward"></span>BACK</button>
  <!--Make sure this function name matches what is on scope.-->
  <button type="button" class="orange btn btn-warning"
  ng-click="putAndGoHome()">
  <span class="glyphicon glyphicon-pencil"></span> SIGN</button>
  <!--Make sure this function name matches what is on scope.-->
</div>

<!-- container div -->
</div>
