
<div class="container col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="clearfix"></div>

  <div class="employeeInfo">
      <h1 class="title">Signature Page</h1>
      <h5>Review for:  {{currentReviewEmpInfo.EmployeeName}}</h5>
      <h5>Regis ID:  {{currentReviewEmpInfo.RegisId}}</h5>
      <!--<p>{{currentReviewEmpInfo}}</p>-->
  </div>

<div ng-if="statuses.empSix">
  <h4>Employee Initials:</h4>
  <input type="text" class="initialInput form-control" placeholder="Initial Here" ng-model="currentReviewEmpInfo.EmployeeSignature"></input>
  <input type="checkbox" class="checkMe well" ng-click="updateLeaderSubmitStatus()" ng-model="empChecked">
  <p>I understand my electronic signature has the same validity as my handwritten signature, and it confirms I have been advised of my performance status and I was given an opportunity to respond to the Performance Review.</p>

  <div class="alignButton">
    <button type="button" class="grey btn btn-secondary btn-responsive" ng-click="goMap()"><span class="glyphicon glyphicon-step-backward"></span>BACK</button>
    <!--Make sure this function name matches what is on scope.-->
    <button type="button" class="orange btn btn-warning btn-responsive" ng-disabled="!empChecked" ng-click="putAndGoHome()"><span class="glyphicon glyphicon-pencil"></span> SIGN</button>
    <!--Make sure this function name matches what is on scope.-->
  </div>
</div>

<div ng-if="statuses.leaderSix">
  <h4>Leader Initials:</h4>
  <input type="text" class="initialInput form-control" placeholder="Initials" ng-model="currentReviewEmpInfo.LeaderSignature"></input>
  <input type="checkbox" class="checkMe well" ng-click="updateLeaderSubmitStatus()" ng-model="leaderChecked">

  <p>I understand an electronic signature has the same validity as a handwritten signature, and it confirms Employee was advised of his/her performance status and given an opportunity to respond to the Performance Review.</p>
  <div class="alignButton">
      <button type="button" class="grey btn btn-secondary btn-responsive" ng-click="goMap()">
        <span class="glyphicon glyphicon-step-backward"></span>BACK</button>
      <!--Make sure this function name matches what is on scope.-->
      <button type="button" class="orange btn btn-warning btn-responsive" ng-disabled="!leaderChecked" ng-click="putAndGoHome()"><span class="glyphicon glyphicon-pencil"></span> SIGN</button>
      <!--Make sure this function name matches what is on scope.-->
  </div>
</div>

    <!-- container div -->
</div>
