<h1 ng-model="strengthsDevelopment">Strengths or Development </h1>
<!--(Add ng-model reference to the Strengths or Development Header)-->

<div class="employeeInfo">
    <p>Name:  {{}}</p>
    <!--(Add a reference to Employee being reviewed)-->
    <p>Regis ID:  {{}}</p>
    <!--(Add a reference to Employee being reviewed)-->
</div>

<!--Employee View Divs-->
<div ng-if="empOneTwo">
    <h4>Employee Comments:</h4>
    <textarea ng-model="thisSubsection">(Come back and make sure the ng-model connects to the current subsection Strengths or Development string.</textarea>
    <div class="alignButton">
      <button type="button" class="grey btn btn-secondary btn-responsive" ng-click="putAndGoMap()"><span class="glyphicon glyphicon-step-backward"></span> BACK</button>
      <!--Make sure this function name matches what is on scope.-->
      <button type="button" class="orange btn btn-warning btn-responsive" ng-click="putCompleteAndGoNext()"><span class="glyphicon glyphicon-ok"></span> DONE</button>
      <!--Make sure this function name matches what is on scope.-->
    </div>
</div>

<div ng-if="empThreePlus">
    <h4>Employee Comments:</h4>
    <p>{{}}  Comments as stated by employee.  (Pull from current subsection Strengths or Development string.)</p>
</div>

<div ng-if="empFivePlus">
    <h4>Leader Comments:</h4>
    <p>{{}}  Comments as stated by leader.  (Pull from current subsection Strengths or Development string.)</p>
</div>

<div ng-if="empThreePlus">
  <div class="alignButton">
    <button type="button" class="grey btn btn-secondary btn-responsive" ng-click="goMap()"><span class="glyphicon glyphicon-step-backward"></span> BACK</button>
    <!--Make sure the name of this function matches what is on scope.-->
    <button type="button" class="orange btn btn-warning btn-responsive" ng-click="goNext()"><span class="glyphicon glyphicon-ok"></span> DONE</button>
    <!--Make sure the name of this function matches what is on scope.-->
  </div>
</div>


<!--Leader View Divs-->
<div ng-if="leaderThreeFourFive">
    <h4>Employee Comments:</h4>
    <textarea ng-model="thisSubsectionEmployeeComments">(Come back and make sure the ng-model connects to the current subsection Strengths or Development string. </textarea>
    <div class="alignButton">
      <button type="button" class="grey btn btn-secondary btn-responsive" ng-click="putAndGoMap()"><span class="glyphicon glyphicon-step-backward"></span> BACK</button>
      <!--Make sure this function name matches what is on scope.-->
      <button type="button" class="orange btn btn-warning btn-responsive" ng-click="putCompleteAndGoNext()"><span class="glyphicon glyphicon-ok"></span> DONE</button>
      <!--Make sure this function name matches what is on scope.-->
   </div>
</div>

<div ng-if="leaderSixPlus">
    <h4>Employee Comments:</h4>
    <p>{{}}  Comments as stated by employee.  (Pull from current subsection Strengths or Development string.)</p>

    <h4>Leader Comments:</h4>
    <p>{{}}  Comments as stated by leader.  (Pull from current subsection Strengths or Development string.)</p>
     <div class="alignButton">
        <button type="button" class="grey btn btn-secondary btn-responsive" ng-click="goMap()"><span class="glyphicon glyphicon-step-backward"></span> BACK</button>
        <!--Make sure the name of this function matches what is on scope.-->
        <button type="button" class="orange btn btn-warning btn-responsive" ng-click="goNext()"><span class="glyphicon glyphicon-ok"></span> DONE</button>
        <!--Make sure the name of this function matches what is on scope.-->
      </div>
</div>
