<div class="container col-xs-12 col-sm-12 col-md-12 col-lg-12">

  <h1 ng-if="strengths">Strengths</h1>
  <h1 ng-if="development">Development Opportunities</h1>
  <!--(Add ng-model reference to the Strengths or Development Header)-->

  <div class="employeeInfo">
      <h5>Review for:  {{ReviewService.reviews.currentReview[0][0].EmployeeName}}</h5>
      <h5>Regis ID:  {{ReviewService.reviews.currentReview[0][0].RegisId}}</h5>
  </div>

  <!--Employee View Divs-->
  <div ng-if="ReviewService.statuses.empOneTwo">
    <h4>Employee Comments:</h4>
    <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <textarea class="boxProperties well" ng-model="ReviewService.reviews.currentReview[1][currentStrengthDev].EmployeeResponse"></textarea>
    </div>

      <div class="alignButton">
        <button type="button" class="grey btn btn-secondary btn-responsive" ng-click="putAndGoMap()"><span class="glyphicon glyphicon-step-backward"></span> BACK</button>
        <!--Make sure this function name matches what is on scope.-->
        <button type="button" class="orange btn btn-warning btn-responsive" ng-click="putCompleteAndGoNext()"><span class="glyphicon glyphicon-ok"></span> DONE</button>
        <!--Make sure this function name matches what is on scope.-->
      </div>
  </div>

  <div ng-if="ReviewService.statuses.empThreePlus">
      <h4>Employee Comments:</h4>
      <p>{{ReviewService.reviews.currentReview[1][currentStrengthDev].EmployeeResponse}}</p>
  </div>

  <div ng-if="ReviewService.statuses.empFivePlus">
      <h4>Leader Comments:</h4>
      <p>{{ReviewService.reviews.currentReview[1][currentStrengthDev].LeaderResponse}}</p>
  </div>

  <div ng-if="ReviewService.statuses.empThreePlus">
    <div class="alignButton">
      <button type="button" class="grey btn btn-secondary btn-responsive" ng-click="goMap()"><span class="glyphicon glyphicon-step-backward"></span> BACK</button>
      <!--Make sure the name of this function matches what is on scope.-->
      <button type="button" class="orange btn btn-warning btn-responsive" ng-click="goNext()"><span class="glyphicon glyphicon-ok"></span> DONE</button>
      <!--Make sure the name of this function matches what is on scope.-->
    </div>
  </div>


  <!--Leader View Divs-->
  <div ng-if="ReviewService.statuses.leaderThreeFourFive">
      <h4>Employee Comments: </h4>
      <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <textarea class="boxProperties well" ng-model="ReviewService.reviews.currentReview[1][currentStrengthDev].EmployeeResponse"></textarea>
      </div>

      <h4>Leader Comments:</h4>
      <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <textarea class="boxProperties well" ng-model="ReviewService.reviews.currentReview[1][currentStrengthDev].LeaderResponse"></textarea>
      </div>

      <div class="alignButton">
        <button type="button" class="grey btn btn-secondary btn-responsive" ng-click="putAndGoMap()"><span class="glyphicon glyphicon-step-backward"></span> BACK</button>
        <!--Make sure this function name matches what is on scope.-->
        <button type="button" class="orange btn btn-warning btn-responsive" ng-click="putCompleteAndGoNext()"><span class="glyphicon glyphicon-ok"></span> DONE</button>
        <!--Make sure this function name matches what is on scope.-->
     </div>
  </div>

  <div ng-if="ReviewService.statuses.leaderSixPlus">
      <h4>Employee Comments:</h4>
      <p>{{ReviewService.reviews.currentReview[1][currentStrengthDev].EmployeeResponse}}</p>

      <h4>Leader Comments:</h4>
      <p>{{ReviewService.reviews.currentReview[1][currentStrengthDev].LeaderResponse}}</p>
       <div class="alignButton">
          <button type="button" class="grey btn btn-secondary btn-responsive" ng-click="goMap()"><span class="glyphicon glyphicon-step-backward"></span> BACK</button>
          <!--Make sure the name of this function matches what is on scope.-->
          <button type="button" class="orange btn btn-warning btn-responsive" ng-click="goNext()"><span class="glyphicon glyphicon-ok"></span> DONE</button>
          <!--Make sure the name of this function matches what is on scope.-->
        </div>
  </div>

  <!-- container div -->
  </div>
